<style>
    #admin-form label{margin-right:10px}
    .handle a{cursor: pointer}
    .combo-select{border: none;width: 200px;top:7px}
    .combo-dropdown{z-index:100}
    #sample-table-1 .center{vertical-align:middle}
    #sample-table-1 td{padding: 2px;word-wrap:break-word; word-break:break-all;}
    #requestLog-form #ptype{width:100px}
</style>

<!-- 搜索栏 -->
<div class="page-header col-xs-12">
    <div id="show-table_filter" class="dataTables_length">
        <form id="search-form" action="" method="">
            <label for="">操作人:
                <input type="text" id="uname" name="uname" value="<{if isset($smarty.get.uname)}><{$smarty.get.uname}><{/if}>">
            </label>
            <label for=""> 日期:
                <input class="laydate-icon" placeholder="请输入日期" type="text" id="starttime" name="starttime" value="<{if isset($smarty.get.starttime)}><{$smarty.get.starttime}><{/if}>">
                ~
                <input class="laydate-icon" placeholder="请输入日期" type="text" id="endtime" name="endtime" value="<{if isset($smarty.get.endtime)}><{$smarty.get.endtime}><{/if}>">
            </label>
            <label > 每页显示条数:
                <select type="select" name="pageNum" id="pageNum" onchange="renderTableByPjax()">
                    <option value="100"  <{if isset($smarty.get.pageNum) && $smarty.get.pageNum eq 100}>selected<{/if}>>100</option>
                    <option value="500" <{if isset($smarty.get.pageNum) && $smarty.get.pageNum eq 500}>selected<{/if}>>500</option>
                    <option value="1000" <{if isset($smarty.get.pageNum) && $smarty.get.pageNum eq 1000}>selected<{/if}>>1000</option>
                </select>
            </label>
            <label > 页码:
                <select type="select" name="page"  id="page">
                    <{section name=loop loop=$pagecount}>
                    <option value="<{$smarty.section.loop.index+1}>"
                        <{if isset($smarty.get.page) && $smarty.get.page eq $smarty.section.loop.index+1}>selected<{/if}>>
                        <{$smarty.section.loop.index+1}>
                    </option>
                    <{/section}>
                </select>
            </label>
            <label>
                <input type="button" id="search" class="btn btn-sm btn-success" value="搜索"/>
            </label>
        </form>
    </div>
</div>

<!-- 列表 -->
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center">平 台</th>
                        <th class="center">会员编号</th>
                        <th class="center">账号</th>
                        <th class="center ">线路id</th>
                        <th class="center">I P</th>
                        <th class="center">操作信息</th>
                        <th class="center">备注</th>
                        <th class="center">请求时间</th>
                    </tr>
                </thead>
                <tbody>
                  <{if isset($data)}>
                    <{foreach from=$data item=v key=k}>
                    <tr>
                        <td class="center" >  <{if isset($v['ptypeTxt'])}> <{$v['ptypeTxt']}> <{/if}></td>
                        <td class="center handle" >  <{if isset($v['uid'])}> <{$v['uid']}> <{/if}></td>
                        <td class="center handle" >  <{if isset($v['uname'])}> <{$v['uname']}> <{/if}></td>
                        <td class="center">  <{if isset($v['line_id'])}> <{$v['line_id']}> <{/if}></td>
                        <td class="center" >  <{if isset($v['ip'])}> <{$v['ip']}> <{/if}></td>
                        <td class="center"> <span  class="btn btn-xs btn-success record_detail" old='<{if isset($v["old"])}> <{$v["old"]}> <{/if}>' new_='<{if isset($v["new"])}> <{$v["new"]}> <{/if}>' >查看祥情</span></td>
                        <td class="center" style="max-width:200px;word-break:break-all;">  <{if isset($v['remark'])}> <{$v['remark']}>  <{/if}></td>
                        <td class="center handle" >  <{if isset($v['addtime'])}> <{$v['addtime']}> <{/if}></td>
                    </tr>
                    <{/foreach}>
                  <{/if}>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="hr hr-18 dotted hr-double"></div>

<!-- 详情 表单 -->
<div class="isHide layui-layer-wrap" id="_form" style="display: none;">
    <div class="modal-body">
        <form id="info-form" class="form-horizontal">
            <table id="change_money" class="table table-striped table-bordered table-hover">
                <tr><td>操作前记录:</td></tr><tr><td id="before_record"></td></tr>
                <tr><td>操作后纪录:</td></tr><tr><td id="after_record"></td></tr>
            </table>
        </form>
    </div>
</div>

<script>

	// pjax局部加载列表
    function renderTableByPjax() {

        var ptype = $.trim($('#ptype').val());
        var starttime = $.trim($('#starttime').val());
        var endtime = $.trim($('#endtime').val());
        var uname = $.trim($('#uname').val());
        var pageNum = $.trim($('#pageNum').val());
        var page = $.trim($('#page').val());
        var params = {
            ptype: ptype,
            starttime: starttime,
            endtime: endtime,
            uname: uname,
            pageNum: pageNum,
            page: page
        };
        $.pjax({
            data: params,
            method: 'get',
            url: '/log/operate',
            container: '#container'
        });
    }
    //搜索菜单
    $('#search').click(function () {
        renderTableByPjax();
    })
    //页码
    $('#page').change(function () {
        renderTableByPjax();
    })

// ------------------ 控件 ------------------------------------
    // 弹框
    function openLayer(title, height, dom) {
        open = layer.open({
            type: 1 //Page层类型
            , area: ['666px', height]
            , title: title
            , shade: 0.5 //遮罩透明度
            , maxmin: true //允许全屏最小化
            , anim: 1 //0-6的动画形式，-1不开启
            , content: $(dom)
        });
    }

    //时间控件
    var start = {
        elem: '#starttime',
        format: 'YYYY-MM-DD',
        max: laydate.now(),
        istime: false,
        istoday: true,
        choose: function (datas) {
            end.min = datas;
        }
    };
    laydate(start);
    var end = {
        elem: '#endtime',
        format: 'YYYY-MM-DD',
        max: laydate.now(),
        istime: false,
        istoday: true,
    };
    laydate(end);
    <{if !isset($smarty.get.starttime)}>
        $('#starttime').val(laydate.now(0, 'YYYY-MM-DD'));
    <{/if}>
    <{if !isset($smarty.get.endtime)}>
        $('#endtime').val(laydate.now(0, 'YYYY-MM-DD'));
    <{/if}>

    $('.record_detail').click(function () {
        var old = $(this).attr('old');
        var new_ = $(this).attr('new_');
        $('#before_record').html('');
        $('#after_record').html('');
        var old_str = '';
        var new_str = '';
        if (old != '') {
            try {
                old = JSON.parse(old);
                for (x in old) {
                    old_str += x + ' : ' + old[x] + '<br/>';
                }
            } catch (e) {
                old_str = '没有记录';
            }

        }
        if (new_ != '') {
            try {
                new_ = JSON.parse(new_);
                for (x in new_) {
                    new_str += x + ' : ' + new_[x] + '<br/>';
                }
            } catch (e) {
                new_str = '没有记录';
            }
        }
        $('#before_record').html(old_str);
        $('#after_record').html(new_str);
        openLayer('操作信息祥情', '500px', '#_form');

    })
</script>
