<style>
    #admin-form label{margin-right:10px}
    .handle a{cursor: pointer}
    .combo-select{border: none;width: 200px;top:7px}
    .combo-dropdown{z-index:100}
    .width100{width:100px}
</style>

<div class="col-xs-12">
    <div id="show-table_filter" class="dataTables_length">
        <form id="admin-form" method='get' action='/admin/index'>
            <label for="login_user">账号:
                <input class='width100' type="text" name="login_user" id='login_user' value="<{if isset($smarty.get.login_user)}><{$smarty.get.login_user}><{/if}>">
            </label>
            <label for="login_name">昵称:
                <input class='width100' type="text" name='login_name'  id="login_name" value="<{if isset($smarty.get.login_name)}><{$smarty.get.login_name}><{/if}>">
            </label>
            <label for="menuLevel"> 状态:
                <select type="select" name="status"  id="status">
                    <option value="" >全部</option>
                    <option value="1" <{if isset($smarty.get.status) && $smarty.get.status eq 1 }>selected<{/if}>>有效</option>
                    <option value="2" <{if isset($smarty.get.status) && $smarty.get.status eq 2 }>selected<{/if}>>无效</option>
                </select>
            </label>

            <label > 每页显示条数:
                <select type="select" name="pageNum"  id="pageNum" >
                    <option value="100"  <{if isset($smarty.get.pageNum) && $smarty.get.pageNum eq 100}>selected<{/if}>>100</option>
                    <option value="500" <{if isset($smarty.get.pageNum) && $smarty.get.pageNum eq 500}>selected<{/if}>>500</option>
                    <option value="1000" <{if isset($smarty.get.pageNum) && $smarty.get.pageNum eq 1000}>selected<{/if}>>1000</option>
                </select>
            </label>
            <label > 页码:
                <select type="select" name="page"  id="page">
                    <{section name=loop loop=$pagecount}>
                    <option value="<{$smarty.section.loop.index+1}>"
                            <{if isset($smarty.get.page) && $smarty.get.page eq $smarty.section.loop.index+1}>selected<{/if}>>
                            <{$smarty.section.loop.index+1}>
                </option>
                <{/section}>
            </select>
        </label>
        <label>
            <input type="button" id="search" class="btn btn-sm btn-success" value="搜索"/>
        </label>
        <label>
        <{if $user_type eq 3}>
            <input type="button" id="son_add" class="btn btn-sm btn-success" value="添加"/>
        <{/if}>
        </label>
    </form>
</div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center">ID</th>
                        <th class="center">账号 </th>
                        <th class="center">昵称</th>
                        <th class="center">状态</th>
                        <th class="center">添加时间</th>
                        <th class="center">修改时间</th>
                        <th class="center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <{foreach from=$data item=v key=k}>
                    <tr>
                        <td class="center">
                            <a > <{if isset($v['id'])}> <{$v['id']}><{/if}> </a>
                        </td>
                        <td class="center">
                            <a> <{if isset($v['login_user'])}> <{$v['login_user']}><{/if}> </a>
                        </td>
                        <td class="center"> <{if isset($v['login_name'])}> <{$v['login_name']}><{/if}> </td>
                
                        <td class="center"> <{if isset($v['deleteTxt'])}> <{$v['deleteTxt']}><{/if}> </td>
                        <td class="center"> <{if isset($v['addDate'])}> <{$v['addDate']}><{/if}> </td>
                        <td class="center"> <{if isset($v['updateDate'])}> <{$v['updateDate']}><{/if}> </td>
                        <td class="center handle">
                            <a  class="btn btn-xs btn-success detail" data_a = "<{$v['id']}>" data_b="detail" href='javascript:;'>详情</a>
                        <{if $user_type eq 3}>
                            <a  class="btn btn-xs btn-success update" data_a = "<{$v['id']}>" data_b="update" href='javascript:;'>修改</a>
                        <{/if}>
                        </td>
                    </tr>
                    <{/foreach}>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="hr hr-18 dotted hr-double"></div>
<script>
    //pjax局部加载列表
    function renderTableByPjax() {
        var login_user = $.trim($('#login_user').val());
        var login_name = $.trim($('#login_name').val());
        var status = $.trim($('#status').val());
        var pageNum = $.trim($('#pageNum').val());
        var page = $.trim($('#page').val());

        var params = {
            login_user: login_user,
            login_name: login_name,
            status: status,
            pageNum: pageNum,
            page: page
        };
        $.pjax({
            data: params,
            method: 'get',
            url: '/agent/agent_son',
            container: '#container'
        });
    }
    //祥情
    $('.detail').click(function () {
        var id = $(this).attr('data_a');
        var type = $(this).attr('data_b');
        $.pjax({
            method: 'get',
            url: '/agent/editson?id=' + id + '&type=' + type + '&other=detail',
            container: '#container'
        });
    })

    //添加
    $('#son_add').click(function () {
        $.pjax({
            method: 'get',
            url: '/agent/editson/?type=create',
            container: '#container'
        });
    })
    //修改
    $('.update').click(function () {
        var id = $(this).attr('data_a');
        var type = $(this).attr('data_b');
        $.pjax({
            method: 'get',
            url: '/agent/editson?id=' + id + '&type=' + type,
            container: '#container'
        });
    })
    //搜索
    $('#search').click(function () {
        renderTableByPjax();
    })
    //刷新
    $('#table_refresh').click(function () {
        renderTableByPjax();
    })
    //状态
    $('#status').change(function () {
        renderTableByPjax();
    })

    //每页显示条数切换
    $('#pageNum').change(function () {
        renderTableByPjax();
    })
    //页码切换
    $('#page').change(function () {
        renderTableByPjax();
    })

</script>
