<aside id="left-panel">

    <!-- User info -->
    <div login-info></div>
    <!-- end user info -->
    <nav>

        <ul data-smart-menu-items></ul>

        <!--<ul data-smart-menu="">-->
            <!--&lt;!&ndash;总后台&ndash;&gt;-->
            <!--<li data-menu-collapse>-->
                <!--<a href="#">-->
                    <!--<i class="icon iconfont icon-pingtaiguanli"></i>-->
                    <!--<span class="menu-item-parent">{{getWord('PlatformManagement')}}</span>-->
                <!--</a>-->
                <!--<ul>-->
                    <!--<li data-ui-sref-active="active">-->
                        <!--<a data-ui-sref="app.Platform.Commodity"><i class="icon iconfont icon-shangpinguanli"></i> {{getWord('CommodityManagement')}}</a>-->
                    <!--</li>-->
                    <!--<li data-ui-sref-active="active">-->
                        <!--<a data-ui-sref="app.Platform.Platformaccount"><i class="icon iconfont icon-pingtai"></i> {{getWord('PlatformAccount')}}</a>-->
                    <!--</li>-->
                    <!--<li data-ui-sref-active="active">-->
                        <!--<a data-ui-sref="app.Platform.accountHolder"><i class="icon iconfont icon-huiyuanguanli"></i> {{getWord('AccountManagement')}}</a>-->
                    <!--</li>-->
                    <!--<li data-ui-sref-active="active">-->
                        <!--<a data-ui-sref="app.Platform.role"><i class="icon iconfont icon-jiaoseguanli"></i> {{getWord('RoleManagement')}}</a>-->
                    <!--</li>-->
                    <!--<li data-ui-sref-active="active">-->
                        <!--<a data-ui-sref="app.Platform.menu"><i class="icon iconfont icon-menu"></i> {{getWord('MenuManagement')}}</a>-->
                    <!--</li>-->
                    <!--<li data-ui-sref-active="active">-->
                        <!--<a data-ui-sref="app.Platform.Function"><i class="icon iconfont icon-gongneng"></i> {{getWord('FunctionManagement')}}</a>-->
                    <!--</li>-->
                    <!--<li data-ui-sref-active="active">-->
                        <!--<a data-ui-sref="app.Platform.Package"><i class="icon iconfont icon-taocanguanli"></i> {{getWord('PackageManagement')}}</a>-->
                    <!--</li>-->
                <!--</ul>-->

            <!--</li>-->
            <!--<li data-menu-collapse>-->
                <!--<a href="#"><i class="icon iconfont icon-combinedshape"></i>权限管理</a>-->
                <!--<ul>-->
                    <!--<li data-ui-sref-active="">-->
                        <!--<a data-ui-sref="app.Permissionmanagement.Operationlog">操作日志</a>-->
                    <!--</li>-->
                    <!--<li data-ui-sref-active="">-->
                        <!--<a data-ui-sref="app.Permissionmanagement.Logmanagement">日志管理</a>-->
                    <!--</li>-->
                    <!--<li data-ui-sref-active="">-->
                        <!--<a data-ui-sref="app.Permissionmanagement.Sitecolumn">站点栏目</a>-->
                    <!--</li>-->
                <!--</ul>-->

            <!--</li>-->
            <!--<li data-menu-collapse>-->
                <!--<a href="#">-->
                    <!--<i class="icon iconfont icon-baozhengjinguanli"></i>-->
                    <!--<span class="menu-item-parent">文案模板管理</span>-->
                <!--</a>-->
                <!--<ul>-->
                    <!--<li data-ui-sref-active="active">-->
                        <!--<a data-ui-sref="app.CopyTemplate.RegisterCopy"><i class="icon iconfont icon-cloud-cash">注册文案模板管理</i></a>-->
                    <!--</li>-->
                    <!--<li data-ui-sref-active="active">-->
                        <!--<a data-ui-sref="app.CopyTemplate.VideoCopy"><i class="icon iconfont icon-zijinguanli1"></i>视讯模板管理</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li data-menu-collapse>-->
                <!--<a href="#">-->
                    <!--<i class="icon iconfont icon-zhandian"></i>-->
                    <!--<span class="menu-item-parent">站点管理</span>-->
                <!--</a>-->
                <!--<ul>-->

                    <!--&lt;!&ndash;gbh&ndash;&gt;-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.site.siteManager"><i class="icon iconfont icon-zhandianziliao"></i>站点管理</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.site.siteCommand"><i class="icon iconfont icon-zhandianziliao"></i>站点口令设置</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.site.informationAudit"><i class="icon iconfont icon-zhandianziliao"></i>资讯审核</a>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;gbh&ndash;&gt;-->

                    <!--&lt;!&ndash;zxh&ndash;&gt;-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.site.IPSwitch"><i class="icon iconfont icon-zhandianziliao"></i>IP开关操作</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.site.Proxynavigation"><i class="icon iconfont icon-zhandianziliao"></i>代理后台导航</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.site.JSversion"><i class="icon iconfont icon-zhandianziliao"></i>更新wap端js版本号</a>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;zxh&ndash;&gt;-->

                    <!--&lt;!&ndash;xj&ndash;&gt;-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.site.maintenance"><i class="icon iconfont icon-zhandianziliao"></i>维护管理</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.site.url"><i class="icon iconfont icon-zhandianziliao"></i>下载链接管理</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a  data-ui-sref="app.site.userNav"><i class="icon iconfont icon-zhandianziliao"></i>客户后台导航</a>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;xj&ndash;&gt;-->


                <!--</ul>-->
            <!--</li>-->
            <!--<li data-menu-collapse>-->
                <!--<a href="#">-->
                    <!--<i class="icon iconfont icon-zhandian"></i>-->
                    <!--<span class="menu-item-parent">客户后台管理</span>-->
                <!--</a>-->
                <!--<ul>-->
                    <!--&lt;!&ndash;zxh&ndash;&gt;-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.customer.hierarchicalManag"><i class="icon iconfont icon-zhandianziliao"></i>层级管理</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.customer.Entryandexit"><i class="icon iconfont icon-zhandianziliao"></i>出入款管理</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.customer.agent"><i class="icon iconfont icon-zhandianziliao"></i>代理管理</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.customer.Commonbullet"><i class="icon iconfont icon-zhandianziliao"></i>公告弹框管理</a>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;zxh&ndash;&gt;-->

                    <!--&lt;!&ndash;xj&ndash;&gt;-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.customer.NoticeKey"><i class="icon iconfont icon-zhandianziliao"></i>公告密钥管理</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.customer.Log"><i class="icon iconfont icon-zhandianziliao"></i>稽核日志</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.customer.LogManage"><i class="icon iconfont icon-zhandianziliao"></i>日志管理</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.customer.VideoAccount"><i class="icon iconfont icon-zhandianziliao"></i>视讯账号管理</a>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;xj&ndash;&gt;-->

                    <!--&lt;!&ndash;gbh&ndash;&gt;-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.customer.exceptionMember"><i class="icon iconfont icon-zhandianziliao"></i>异常会员查询</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.customer.userManagement"><i class="icon iconfont icon-zhandianziliao"></i>用户管理</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.customer.preferentialQuery"><i class="icon iconfont icon-zhandianziliao"></i>优惠查询</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.customer.childAccount"><i class="icon iconfont icon-zhandianziliao"></i>子账号管理</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.customer.applicationInquiry"><i class="icon iconfont icon-zhandianziliao"></i>自动优惠申请查询</a>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;gbh&ndash;&gt;-->

                <!--</ul>-->
            <!--</li>-->
            <!--<li data-menu-collapse>-->
                <!--<a href="#">-->
                    <!--<i class="icon iconfont icon-zhandian"></i>-->
                    <!--<span class="menu-item-parent">财务报表</span>-->
                <!--</a>-->
                <!--<ul>-->
                    <!--&lt;!&ndash;zxh&ndash;&gt;-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.ReportForm.ReportForm"><i class="icon iconfont icon-zhandianziliao"></i>报表辅助查询</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.ReportForm.hierarchical"><i class="icon iconfont icon-zhandianziliao"></i>层级管理</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.ReportForm.Summary"><i class="icon iconfont icon-zhandianziliao"></i>出入款账目汇总</a>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;zxh&ndash;&gt;-->

                    <!--&lt;!&ndash;xj&ndash;&gt;-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.ReportForm.Arrears"><i class="icon iconfont icon-zhandianziliao"></i>催款查询</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.ReportForm.QuotaNum"><i class="icon iconfont icon-zhandianziliao"></i>额度统计</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.ReportForm.IncomeNum"><i class="icon iconfont icon-zhandianziliao"></i>入款统计</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.ReportForm.DataCenter"><i class="icon iconfont icon-zhandianziliao"></i>数据中心</a>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;xj&ndash;&gt;-->

                    <!--&lt;!&ndash;gbh&ndash;&gt;-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.ReportForm.packageManagement"><i class="icon iconfont icon-zhandianziliao"></i>套餐管理</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.ReportForm.cashStatement"><i class="icon iconfont icon-zhandianziliao"></i>现金报表</a>-->
                    <!--</li>-->
                    <!--<li data-menu-collapse>-->
                        <!--<a data-ui-sref="app.ReportForm.referential"><i class="icon iconfont icon-zhandianziliao"></i>优惠统计</a>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;gbh&ndash;&gt;-->

                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->
    </nav>

    <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>
