.deposit-schedule .round:nth-child(4) .round-2{
    background-position:5px -15px;
}
.deposit-schedule .round:nth-child(3) .round-2{
    background-position:80px -28px;
}
.deposit-schedule .round:nth-child(5) .round-2{
    background-position:80px -28px;
}

.deposit-schedule .round .round-2{
    background-image:url('../image/background-red.png');
}


.deposit-center{
    margin-top: 8px;
    border-top: 2px solid #6FC41A;
    height: 100px;
    background-color: #EFFFE1;
    padding-top: 35px;
    text-align: center;
    color: #6EBC3B;
}
.deposit-center .deposit-center-icon{
    display: inline-block;
    height: 66px;
    font-size: 60px;
    padding-left: 150px;
}
.deposit-center span{
    display:inline-block;
    width: 600px;
    text-align: left;
    font-weight: 700;
}

.deposit-center .big-g{
    font-size: 26px;
    padding-left: 20px;
}
.deposit-center .small-b{
    /* font-size: 26px; */
    padding-left: 20px;
    color: #585954;
}
.deposit-bottom{
    margin-top: 8px;
    border: 1px solid #DDD;
    height: 300px;
    padding-left: 25px;
    background-color: #fff;
}

.deposit-bottom .deposit-bottom-1{
    height: 58px;
    padding-top: 20px;
}

.deposit-bottom .deposit-bottom-1 >span:nth-child(1){
    padding-left: 10px;
    border-left: 2px solid #E85036;
    color: #494949;
    font-weight: 700;
}

.deposit-bottom .deposit-bottom-1 >span:nth-child(2){
    padding-right: 35px;
}

.deposit-bottom .deposit-bottom-1 .fr{
    color: #898989;
}

.deposit-bottom .deposit-bottom-1 .fr .fr-1{
    color: #494949;
    font-weight: 700;
}

.deposit-bottom-2{
    margin: 0 35px 0 10px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    height: 120px;
}
.deposit-bottom-2-t{
    font-size: 15px;
    height: 50%;
    line-height: 60px;
    font-weight: 700;
    overflow: hidden;
}

.deposit-bottom-2-b{
    height: 50%;
    font-weight: 700;
    line-height: 60px;
}

.deposit-bottom-2-t span{
    display: inline-block;
    max-width: 128px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.deposit-bottom-2 .deposit-bottom-2-t li{
    /* width: 20%; */
    margin-right: 20px;
    overflow: hidden;
    color: #505050;
}

.my-bot-red{
    color: #FE3632;
}
.my-bot-8E9190{
    color: #8E9190;
}

.deposit-bottom-3{
    margin: 0 35px 0 10px;
    height: 100px;
}
.deposit-bottom-3 .deposit-bottom-3-t{
    height: 42px;
    line-height: 42px;
}
.deposit-bottom-3-t span{
    margin-right: 35px;
    color: #343434;
}

.deposit-bottom-3 .deposit-bottom-3-b{
    padding-top: 12px;
}
.deposit-bottom-3-b a{
    display: block;
    border-radius: 3px;
    width: 110px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    background-color: #ff4342;
    margin:0 auto;
}
