<style>
    #admin-form label{margin-right:10px}
    .handle a{cursor: pointer}
    .combo-select{border: none;width: 200px;top:7px}
    .combo-dropdown{z-index:100}
    #sample-table-1 .center{vertical-align:middle}
    #sample-table-1 td{padding: 2px;word-wrap:break-word; word-break:break-all;}
    #requestLog-form #ptype{width:100px}
</style>

<!-- 搜索栏 -->
<div class="page-header col-xs-12">
    <div id="show-table_filter" class="dataTables_length">
        <form id="search-form" action="" method="">
            <label for=""> 平台:
                <select type="select" name="ptype" id="ptype">
                    <option value="">全部</option>
                    <option value="1" <{if isset($smarty.get.ptype) && $smarty.get.ptype eq 1}>selected<{/if}>>总后台</option>
                    <option value="2" <{if isset($smarty.get.ptype) && $smarty.get.ptype eq 2}>selected<{/if}>>业主后台</option>
                    <option value="3" <{if isset($smarty.get.ptype) && $smarty.get.ptype eq 3}>selected<{/if}>>前台</option>
                </select>
            </label>
            <label for="">php路由:
                <input type="text" name="route" id='route' value="<{if isset($smarty.get.route)}><{$smarty.get.route}><{/if}>">
            </label>
            <label for=""> 日期:
                <input class="laydate-icon" placeholder="请输入日期" type="text" id="starttime" name="starttime" value="<{if isset($smarty.get.starttime)}><{$smarty.get.starttime}><{/if}>">
                ~
                <input class="laydate-icon" placeholder="请输入日期" type="text" id="endtime" name="endtime" value="<{if isset($smarty.get.endtime)}><{$smarty.get.endtime}><{/if}>">
            </label>
            <label > 每页显示条数:
                <select type="select" name="pageNum" id="pageNum" onchange="renderTableByPjax()">
                    <option value="100"  <{if isset($smarty.get.pageNum) && $smarty.get.pageNum eq 100}>selected<{/if}>>100</option>
                    <option value="500" <{if isset($smarty.get.pageNum) && $smarty.get.pageNum eq 500}>selected<{/if}>>500</option>
                    <option value="1000" <{if isset($smarty.get.pageNum) && $smarty.get.pageNum eq 1000}>selected<{/if}>>1000</option>
                </select>
            </label>
            <label > 页码:
                <select type="select" name="page"  id="page">
                    <{section name=loop loop=$pagecount}>
                    <option value="<{$smarty.section.loop.index+1}>"
                        <{if isset($smarty.get.page) && $smarty.get.page eq $smarty.section.loop.index+1}>selected<{/if}>>
                        <{$smarty.section.loop.index+1}>
                    </option>
                    <{/section}>
                </select>
            </label>
            <label>
                <input type="button" id="search" class="btn btn-sm btn-success" value="搜索"/>
            </label>
        </form>
    </div>
</div>

<!-- 列表 -->
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center ">请求方式</th>
                        <th class="center">PHP路由</th>
                        <th class="center">中文名称</th>
                        <th class="center">参 数</th>
                        <th class="center">平 台</th>
                        <th class="center">I P</th>
                        <th class="center">请求时间</th>
                        <th class="center">账号</th>
                        <th class="center">会员编号</th>
                        <th class="center">请求URL</th>
                    </tr>
                </thead>
                <tbody>
                  <{if isset($data)}>
                    <{foreach from=$data item=v key=k}>
                    <tr>
                        <td class="center" style="width:60px">
                            <a> <{if isset($v['httpMethod'])}> <{$v['httpMethod']}>  <{/if}></a>
                        </td>
                        <td class="center" style="width:160px">  <{if isset($v['route'])}> <{$v['route']}> <{/if}></td>
                        <td class="center" >  <{if isset($v['menu_name'])}> <{$v['menu_name']}>  <{/if}></td>
                         <td class="center params_detail" rel="<{if isset($v['params'])}><{$v['params']}><{/if}>">  <{if isset($v['params'])}> <{$v['params']|truncate:20}><{if strlen($v['params'])>40}><p style="font-size:3px;color:green;">点击查看完整内容</p><{/if}><{/if}></td>
                        
                        <td class="center" >  <{if isset($v['ptypeTxt'])}> <{$v['ptypeTxt']}> <{/if}></td>
                        <td class="center" >  <{if isset($v['ip'])}> <{$v['ip']}> <{/if}></td>
                        <td class="center handle" >  <{if isset($v['date'])}> <{$v['date']}> <{/if}></td>
                         <td class="center handle" >  <{if isset($v['uname'])}> <{$v['uname']}> <{/if}></td>
                        <td class="center handle" >  <{if isset($v['uid'])}> <{$v['uid']}> <{/if}></td>
                        <td class="center"> <span  class="btn btn-xs btn-success url_detail" rel="<{if isset($v['url'])}> <{$v['url']}> <{/if}>" >查看完整URL</span></td>
                    </tr>
                    <{/foreach}>
                  <{/if}>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="hr hr-18 dotted hr-double"></div>
<script>

        //pjax局部加载列表
    function renderTableByPjax() {
       
        var ptype = $.trim($('#ptype').val());
        var starttime = $.trim($('#starttime').val());
        var endtime = $.trim($('#endtime').val());
        var route = $.trim($('#route').val());
        var pageNum = $.trim($('#pageNum').val());
        var page = $.trim($('#page').val());
        var params = {
            ptype: ptype,
            starttime: starttime,
            endtime: endtime,
            route: route,
            pageNum: pageNum,
            page: page
        };
        $.pjax({
            data: params,
            method: 'get',
            url: '/log/request',
            container: '#container'
        });
    }
    //搜索菜单
    $('#search').click(function(){
        renderTableByPjax();
    })
    //页码
    $('#page').change(function(){
       renderTableByPjax();
    })

    $('.url_detail').click(function(){
        var rel = $(this).attr('rel');
        layer.alert(rel,{'title':'完整路径'});
    })
     $('.params_detail').click(function(){
        var rel = $(this).attr('rel');
        if(rel != '' && rel.length > 20){
            layer.alert(rel,{'title':'完整参数'});
        }
    })
      //时间控件
    var start = {
        elem: '#starttime',
        format: 'YYYY-MM-DD',
        max: laydate.now(),
        istime: false,
        istoday: true,
        choose: function (datas) {
            end.min = datas;
        }
    };
    laydate(start);
    <{if !isset($smarty.get.starttime)}>
        $('#starttime').val(laydate.now(0, 'YYYY-MM-DD'));
    <{/if}>
    var end = {
        elem: '#endtime',
        format: 'YYYY-MM-DD',
        max: laydate.now(),
        istime: false,
        istoday: true,
    };
    laydate(end);
    <{if !isset($smarty.get.endtime)}>
        $('#endtime').val(laydate.now(0, 'YYYY-MM-DD'));
    <{/if}>
</script>
