{{template "header" .Header}}
<div id="page-container" style="padding:0px;">
    <div id="page-body" class="clearfix" style="background: #adbfe5">
        <!-- main -->
        <div id="page-sidebar">
            <style>
                .mtab-menual li {
                    background: #af1919 none repeat scroll 0 0;
                    border-radius: 5px 5px 0 0;
                    color: #fff;
                    cursor: pointer;
                    display: block;
                    float: left;
                    font-family: "Microsoft YaHei", "微软雅黑";
                    font-size: 14px;
                    font-weight: bolder;
                    height: 32px;
                    line-height: 32px;
                    margin-right: 10px;
                    text-align: center;
                    width: 118px;
                }

                .mtab-menual li.mtab {
                    background: #faae30 none repeat scroll 0 0;
                    color: #fff;
                }

                .mtab-menual {
                    border-bottom: 1px solid #af1919;
                    font-family: "Microsoft YaHei", "微软雅黑";
                    height: 32px;
                    line-height: 32px;
                    margin-bottom: 20px;
                    padding-left: 0;
                    padding-top: 10px;
                    width: 100%;
                }
            </style>
            <div class="sidemenu-header"></div>
            <div class="sidemenu-body">
                <ul class="sidemenu">
                {{range .Header.Content}}
                {{if eq .Module.VType "video"}}
                {{range .SubModule}}
                {{if or (eq .VType "bbin") (eq .VType "ag") (eq .VType "dg") (eq .VType "ab") }}
                    <li>
                        <a href="javascript:;" onclick="javascript:zhuModal.login();"
                           onclick="opengeme('','video','{{.VType}}')" title="{{.Name}}">
                        {{.Name}}
                        </a>
                    </li>
                {{end}}
                {{end}}
                {{end}}
                {{if eq .Module.VType "fc"}}
                {{range .SubModule}}
                {{if or (eq .VType "pk_fc") (eq .VType "cs_fc") }}
                    <li>
                        <a href="javascript:;" onclick="javascript:zhuModal.login();"
                           onclick="opengeme('','video','{{.VType}}')" title="{{.Name}}">
                        {{.Name}}
                        </a>
                    </li>
                {{end}}
                {{end}}
                {{end}}
                {{if eq .Module.VType "dz"}}
                {{range .SubModule}}
                {{if or (eq .VType "bbin_dz") (eq .VType "pt_dz") (eq .VType "gd_dz") }}
                    <li>
                        <a href="javascript:;" onclick="javascript:zhuModal.login();"
                           onclick="opengeme('','video','{{.VType}}')" title="{{.Name}}">
                        {{.Name}}
                        </a>
                    </li>
                {{end}}
                {{end}}
                {{end}}
                {{if eq .Module.VType "sp"}}
                {{range .SubModule}}
                {{if or (eq .VType "bbin_sp") (eq .VType "im_sp") (eq .VType "pk_sp") }}
                    <li>
                        <a href="javascript:;" onclick="javascript:zhuModal.login();"
                           onclick="opengeme('','video','{{.VType}}')" title="{{.Name}}">
                        {{.Name}}
                        </a>
                    </li>
                {{end}}
                {{end}}
                {{end}}
                {{end}}
                </ul>
            </div>
            <div class="sidemenu-footer"></div>
        </div>
        <div id="page-right">
            <div class="advertise-title"></div>
            <div id="joinMember">
                <style>
                    .mtab-menual li {
                        background: #af1919 none repeat scroll 0 0;
                        border-radius: 5px 5px 0 0;
                        color: #fff;
                        cursor: pointer;
                        display: block;
                        float: left;
                        font-family: "Microsoft YaHei", "微软雅黑";
                        font-size: 14px;
                        font-weight: bolder;
                        height: 32px;
                        line-height: 32px;
                        margin-right: 10px;
                        text-align: center;
                        width: 118px;
                    }

                    .mtab-menual li.mtab {
                        background: #faae30 none repeat scroll 0 0;
                        color: #fff;
                    }

                    .mtab-menual {
                        border-bottom: 1px solid #af1919;
                        font-family: "Microsoft YaHei", "微软雅黑";
                        height: 32px;
                        line-height: 32px;
                        margin-bottom: 20px;
                        padding-left: 0;
                        padding-top: 10px;
                        width: 100%;
                    }
                </style>
                <div id="Union">
                {{range .List}}
                {{if .IList}}
                    <ul class="mtab-menual" id="union1">
                    {{range $key,$value:=.IList}}
                    {{if ne .Url ""}}
                        <a href="{{.Url}}">
                            <li>{{.Title}}</li>
                        </a>
                    {{else}}
                        <li>{{.Title}}</li>
                    {{end}}

                    {{end}}
                    </ul>
                {{range $key,$value:=.IList}}
                {{if eq $key 0}}
                    <div class="row union">{{.ContentHtml}}</div>
                {{else}}
                    <div style="display: none;" class="row union">{{.ContentHtml}}</div>
                {{end}}
                {{end}}
                {{else}}
                    <div>{{.Title}}</div>
                    <div class="row">{{.ContentHtml}}</div>
                {{end}}
                {{end}}
                </div>
                <script>
                    console.log({{.List}})
                    var union = $('#union1 li');
                    // alert(union.length)
                    $('#union1 li').each(function (i) {
                        $(this).click(function () {
                            $('.union').hide();
                            $('.union').eq(i).show();
                        })
                    })
                </script>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>
{{template "footer" .Footer}}