#page-body {
  /*.date_nav .notice-content:hover{*/
  /*display: block;*/
  /*width: 100%;*/
  /*overflow: ;*/
  /*white-space: normal;*/
  /*}*/ }
  #page-body .promotion {
    margin-top: 20px; }
  #page-body .txt_l, #page-body .txt_r {
    width: 180px;
    height: 46px;
    line-height: 46px;
    border: 1px solid #eee;
    background-color: #fff;
    float: left;
    text-align: center;
    cursor: pointer; }
  #page-body .r_center {
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    margin-top: 10px;
    min-height: 500px; }
  #page-body .txt_active {
    border-top: 1px solid red;
    /* border-left: none;
    border-bottom: none;
    border-right: none;  */
  }
  #page-body .record_item {
    display: none; }
  #page-body .show {
    display: block; }
  #page-body .tabs_item {
    display: none; }
  #page-body .tabs_center .show {
    display: block; }
  #page-body .tabs_center {
    padding: 15px 30px; }
  #page-body .extension {
    font-weight: 400; }
  #page-body .notenum input, #page-body .bettime input {
    width: 218px;
    height: 32px;
    outline: none;
    border: 1px solid #ddd;
    font-size: 14px; }
  #page-body .sports input, #page-body .s_type input {
    width: 116px;
    height: 32px;
    outline: none;
    border: 1px solid #ddd;
    font-size: 14px; }
  #page-body .bettime, #page-body .sports, #page-body .s_type {
    margin-left: 10px;
    line-height: 32px; }
  #page-body .btn_search {
    width: 80px;
    height: 34px;
    line-height: 34px;
    background-color: #548bd8;
    text-align: center;
    color: #fff;
    margin-left: 30px;
    border-radius: 5px;
    cursor: pointer; }
  #page-body .date_nav, #page-body .video_nav,#page-body .date {
    color: #fff;
    height: 40px;
    line-height: 40px;
     }
     #page-body .date{
       color: #000;
       cursor: pointer;
     }

  /* #page-body .date_nav .ul1 {
    margin-top: 20px; } */
  #page-body .r_center li {
    width: 25%;
    float: left;
    text-align: center;
    font-size: 14px; }
  /* #page-body .date_nav .ul1f, #page-body .date_nav .ul2f {
    background-color: #fff;
    color: #000; } */
  #page-body .date_nav .ul1f li {
    float: left;
    width: 25%;
    text-align: center;
    font-size: 14px; }
  /* #page-body .date_nav .ul1b, #page-body .video_nav .ul2b {
    background-color: #f5f5f5;
    color: #000; } */
  /* #page-body .date_nav .ul1b li {
    float: left;
    width: 25%;
    text-align: center;
    font-size: 14px; }
  #page-body .date_nav .ul2 {
    background-color: #e85036; }
  #page-body .date_nav .ul2 li {
    font-size: 14px;
    float: left;
    width: 380px;
    text-align: center; }
  #page-body .date_nav .ul2f li {
    float: left;
    width: 380px;
    text-align: center;
    font-size: 12px; }
  #page-body .date_nav .ul2b {
    background-color: #f5f5f5;
    color: #000; }
  #page-body .date_nav .ul2b li {
    float: left;
    width: 380px;
    text-align: center;
    font-size: 12px; } */
  #page-body .notice-curr {
    background-color: #B60D3C !important; }
  #page-body .tabs_item .ul3 {
    float: left;
    /* clear: left; */
    width: 100%;
    color: #fff;
    background-color: #F2255F;
    line-height: 39px;
    text-align: center;
    height: 39px; }
  #page-body .date_nav .ul4 {
    float: left;
    /* clear: left; */
    width: 100%;
    line-height: 39px;
    height: 39px; }
  #page-body .date_nav .notice-content {
    display: block;
    width: 60%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  #page-body .tabs_item .ul3 li, #page-body .date_nav .ul4 li {
    float: left; }
  #page-body .tabs_item .ul3 li:first-child, #page-body .date_nav .ul4 li:first-child {
    width: 20%; }
  #page-body .tabs_item .ul3 li:nth-child(2), #page-body .date_nav .ul4 li:nth-child(2) {
    width: 20%; }
  #page-body .tabs_item .ul3 li:last-child, #page-body .date_nav .ul4 li:last-child {
    width: 60%; }
  #page-body .video_nav .ul2 li {
    float: left;
    width: 142px;
    text-align: center;
    font-size: 14px; }
  #page-body .video_nav .ul2f li {
    float: left;
    width: 142px;
    text-align: center;
    float: left;
    color: #000;
    font-size: 12px; }
  #page-body .video_nav .ul2b li {
    float: left;
    width: 142px;
    text-align: center;
    float: left;
    color: #000;
    font-size: 12px; }
  #page-body .date_nav .bd li {
    width: 284px;
    font-size: 14px; }
  #page-body .date_nav .border_eee {
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee; }
  #page-body .date_nav .pk_content, #page-body .date_nav .pk_content1 {
    display: none;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #000; }
  /* #page-body .dd {
    cursor: pointer; } */
  #page-body .date .del {
    display: inline-block;
    width: 60px;
    border-radius: 8px;
    height: 30px;
    line-height: 30px;
    background-color: #f2233a;
    color: #fffdef; }
  #page-body #notice-show {
    height: 35px;
    background: #FFFFFF;
    text-align: center; }
  #page-body #notice-show dl {
    background: #FFFFFF;
    margin-top: 8px; }
  #page-body #notice-show dl dt {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    height: 45px;
    padding: 0 4%;
    background: #FFFFFF; }
  #page-body #notice-show dl dt a {
    -webkit-flex: 1;
    flex: 1;
    color: #000;
    font-size: 110%; }
  #page-body #notice-show dl dt i {
    font-size: 13px;
    color: #dddddd;
    display: inline-block; }
  #page-body #notice-show dl ul {
    display: none; }
  #page-body #notice-show dl ul li {
    border-top: 5px solid #f5f5f5;
    padding: 0 4%; }
  #page-body #notice-show dl ul li h1 {
    line-height: 3;
    border-bottom: 1px solid rgba(237, 237, 237, 0.8); }
  #page-body #notice-show dl ul li h1 a {
    color: #ff3636; }
  #page-body #notice-show dl ul li h1 i {
    display: inline-block;
    padding-left: 10px;
    color: #999;
    font-size: 80%; }
  #page-body #notice-show dl ul li p {
    line-height: 3;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  #page-body .nav2 {
    border-bottom: 1px solid #C30E41;
    font: 15px/42px "microsoft yahei";
    height: 42px;
    padding: 0 20px 0 0; }
  #page-body .nav2 a {
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
    display: block;
    font: 12px/26px arial;
    height: 26px;
    color: #fff;
    text-align: center;
    padding: 0 18px;
    background: #F2255F; }
  #page-body .myd-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    line-height: 100%;
    display: none; }
  #page-body .myd-modal .myd-modal-c {
    width: 502px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 200px;
    overflow: hidden;
    padding: 20px;
}
.myd-modal .myd-modal-c .myd-modal-2{
    text-align: center;
    padding-bottom: 5px;
}

.myd-modal-c .myd-modal-2 p{
    font-size:14px;
    line-height: 36px;
    color: #333;
}


.myd-modal-c .myd-modal-3{
    text-align: center;
    padding-top: 10px;
}
  #page-body .myd-modal-c .myd-modal-3 a {
    display: inline-block;
    width: 120px;
    height: 34px;
    border-radius: 17px;
    line-height: 34px; }
  #page-body .myd-modal-c .myd-modal-3 .a1 {
    background-color: #FE5436;
    /* margin-right: 34px; */
    cursor: pointer;
    color: #fff; }
    #page-body .r_name li:first-child{
      border-right: none;
    }
/*# sourceMappingURL=news.css.map */
