<!--<div id="content">-->
    <!--<div jarvis-widget data-widget-color="blue" id="wid-id-0" data-widget-colorbutton="false"-->
         <!--data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false"-->
         <!--data-widget-sortable="false">-->
        <!--<header>-->
            <!--<span class="widget-icon"> <i class="fa fa-pencil"></i> </span>-->

            <!--<h2>WAP优惠活动文案编辑</h2>-->

        <!--</header>-->

        <!--&lt;!&ndash; widget div&ndash;&gt;-->
        <!--<div>-->
            <!--&lt;!&ndash; widget content &ndash;&gt;-->
            <!--<div class="widget-body tab-content">-->

                <!--<div class="summernote" data-smart-summernote-editor data-height="480">-->

                <!--</div>-->

                <!--<div class="widget-footer smart-form">-->

                    <!--<div class="btn-group">-->

                        <!--<button class="btn btn-sm btn-primary" type="button">-->
                            <!--<i class="fa fa-times"></i> 取消-->
                        <!--</button>-->

                    <!--</div>-->
                    <!--<div class="btn-group">-->

                        <!--<button class="btn btn-sm btn-success" type="button">-->
                            <!--<i class="fa fa-check"></i> 保存-->
                        <!--</button>-->

                    <!--</div>-->

                    <!--<label class="checkbox pull-left">-->
                        <!--<input type="checkbox" checked="checked" name="autosave" id="autosave">-->
                        <!--<i></i>自动保存-->
                    <!--</label>-->

                <!--</div>-->

            <!--</div>-->
            <!--<form class="form-horizontal ng-pristine ng-valid">-->

                <!--<table class="table table-bordered" >-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th colspan="4" style="text-align: center">附件管理</th>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<th>ID</th>-->
                        <!--<th>附件标题</th>-->
                        <!--<th>附件地址</th>-->
                        <!--<th>上传时间</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--<td class="col col-md-1 col-lg-1 col-xs-1">69000</td>-->
                        <!--<td class="col col-md-3 col-lg-3 col-xs-3">-->
                            <!--<div class="row">-->
                                <!--<input type="text" placeholder="11" class="col col-sm-12">-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<span ng-click="Discount.copy()">【选择】</span><span>【修改】</span>-->
                            <!--</div>-->

                        <!--</td>-->
                        <!--<td class="col col-md-6 col-lg-6 col-xs-6">-->
                            <!--<input type="text" placeholder="https://www.baidu.com/" class="addCopy" disabled="disabled">-->
                            <!--<button class="btn btn-xs"><a ng-href="{{Discount.seeurl}}" ng-click="Discount.see()">查看</a></button>-->
                            <!--<button class="btn btn-xs">删除</button>-->
                        <!--</td>-->
                        <!--<td class="col col-md-2 col-lg-2 col-xs-2" style="word-wrap:break-word;">2017-05-12 09:10:34</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="col col-md-1 col-lg-1 col-xs-1">69000</td>-->
                        <!--<td class="col col-md-3 col-lg-3 col-xs-3">-->
                            <!--<div class="row">-->
                                <!--<input type="text" placeholder="11" class="col col-sm-12" style="display: block">-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<span ng-click="Discount.copy()">【选择】</span><span>【修改】</span>-->
                            <!--</div>-->

                        <!--</td>-->
                        <!--<td class="col col-md-6 col-lg-6 col-xs-6">-->
                            <!--<input type="text" placeholder="https://www.baidu111.com/" class="addCopy" disabled="disabled">-->
                            <!--<button class="btn btn-xs"><a ng-href="{{Discount.seeurl}}" ng-click="Discount.see()">查看</a></button>-->
                            <!--<button class="btn btn-xs">删除</button>-->
                        <!--</td>-->
                        <!--<td class="col col-md-2 col-lg-2 col-xs-2" style="word-wrap:break-word;">2017-05-12 09:10:34</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="col col-md-1 col-lg-1 col-xs-1">69000</td>-->
                        <!--<td class="col col-md-3 col-lg-3 col-xs-3">-->
                            <!--<div class="row">-->
                                <!--<input type="text" placeholder="11" class="col col-sm-12" style="display: block">-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<span ng-click="Discount.copy()">【选择】</span><span>【修改】</span>-->
                            <!--</div>-->

                        <!--</td>-->
                        <!--<td class="col col-md-6 col-lg-6 col-xs-6">-->
                            <!--<input type="text" placeholder="https://www.baidu222.com/" class="addCopy" disabled="disabled">-->
                            <!--<button class="btn btn-xs"><a ng-href="{{Discount.seeurl}}" ng-click="Discount.see()">查看</a></button>-->
                            <!--<button class="btn btn-xs">删除</button>-->
                        <!--</td>-->
                        <!--<td class="col col-md-2 col-lg-2 col-xs-2" style="word-wrap:break-word;">2017-05-12 09:10:34</td>-->
                    <!--</tr>-->

                    <!--</tbody>-->
                <!--</table>-->
                <!--<nav>-->
                    <!--<ul class="pagination">-->
                        <!--<li>-->
                            <!--<a ng-click="accounts.Previous()">-->
                                <!--<span>{{lang['PreviousPage']}}</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li ng-repeat="page in accounts.pageList" ng-class="{active: accounts.isActivePage(page)}" >-->
                            <!--<a ng-click="accounts.selectPage(page)" >{{ page }}</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a ng-click="accounts.Next()">-->
                                <!--<span>{{lang['NextPage']}}</span>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</nav>-->
            <!--</form>-->

            <!--&lt;!&ndash; end widget content &ndash;&gt;-->

        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; end widget &ndash;&gt;-->
<!--</div>-->
<div id="content">
    <div jarvis-widget data-widget-color="blue" id="wid-id-0" data-widget-colorbutton="false"
         data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false"
         data-widget-sortable="false">
        <!-- widget options:
        usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
        <header>
            <span class="widget-icon"> <i class="fa fa-pencil"></i> </span>

            <h2>WAP优惠活动文案编辑</h2>

        </header>

        <!-- widget div-->
        <div>


            <!-- widget content -->
            <div class="widget-body no-padding">

                <div class="summernote" data-smart-summernote-editor data-height="480">

                </div>

                <div class="widget-footer smart-form">

                    <div class="btn-group">

                        <button class="btn btn-sm btn-primary" type="button">
                            <i class="fa fa-times"></i> 取消
                        </button>

                    </div>
                    <div class="btn-group">

                        <button class="btn btn-sm btn-success" type="button" ng-click="submit()">
                            <i class="fa fa-check"></i> 保存
                        </button>
                    </div>

                    <label class="checkbox pull-left">
                        <input type="checkbox" checked="checked" name="autosave" id="autosave">
                        <i></i>自动保存
                    </label>

                </div>

            </div>
            <!-- end widget content -->
        </div>
        <!-- end widget div -->
    </div>
    <div jarvis-widget data-widget-color="blue" id="wid-id-0" data-widget-colorbutton="false"
         data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false"
         data-widget-sortable="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-pencil"></i> </span>

            <h2>附件管理</h2>

        </header>
        <div class="table-responsive">
            <form class="form-inline" method="post">
                <div class="table-scroll">
                    <table class="table table-bordered" >
                        <thead>
                        <tr>
                            <th colspan="4" style="text-align: center">附件管理</th>
                        </tr>
                        <tr>
                            <th>ID</th>
                            <th>附件标题</th>
                            <th>附件地址</th>
                            <th>上传时间</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="item in enclosure">
                            <td class="col col-md-1 col-lg-1 col-xs-1">{{item.id}}</td>
                            <td class="col col-md-3 col-lg-3 col-xs-3">
                                <div class="row">
                                    <input type="text" ng-model="item.title">
                                    <button class="btn btn-xs" ng-click="select(item.url)">选择</button>
                                    <button class="btn btn-xs" ng-click="modifyTitle(item)">修改</button>
                                </div>

                            </td>
                            <td class="col col-md-6 col-lg-6 col-xs-6">
                                <input type="text" placeholder="{{item.url}}" class="addCopy" disabled="disabled">
                                <button class="btn btn-xs"><a ng-href="{{item.url}}" target="_blank">查看</a></button>
                                <button class="btn btn-xs" ng-click="delete(item)">删除</button>
                            </td>
                            <td class="col col-md-2 col-lg-2 col-xs-2" style="word-wrap:break-word;">{{item.create_time|fiterTime}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </form>
        </div>
    </div>
    <!-- end widget -->
</div>
