body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lf{
    float:left;
}

.rt{
    float:right;
}

.clear{
    clear:both;

}


#maintain_content{
    width: 100%;
    height:-webkit-fill-available;
    position: relative;
    background: url("../images/wh/maintain_bg.png") no-repeat center;
    background-size: cover;
}

#maintain_content .maintain_inside{
    width: 700px;
    height: 345px;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background: url("../images/wh/maintain_front.png") no-repeat center;
    background-size: cover;
    box-shadow: 0px 6px 0px 0px #27171c
}

#maintain_content .maintain_top{
    height: 40px;
    line-height: 40px;
    background-color: black;
}

.maintain_top ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

.maintain_top ul li{
    width: 33%;
    text-align: center;

}

.maintain_top ul li a{
    font-size: .8rem;
   color:white;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    display: inline-block;
    height: 38px;

}

.maintain_top ul li b{
    font-size: .8rem;
    color:#a8a1a1;
    display: inline-block;
    height: 38px;

}




.wh_active{
    color:yellow !important;
    border-bottom-color:yellow !important;

}

#maintain_content .maintain_inside_content .maintain_inside_top{
    height: 80%;
}


.maintain_inside_1_left{
    margin-top: 6%;
}

.maintain_inside_1_left img{
    width: 200px;
}

.maintain_inside_1_right{
    margin-top: 13%;
    margin-right: 15%;
    color:white;
}



#maintain_content .maintain_inside_content .maintain_inside_bottom{
    height:20%;
    width: 100%;
    position: absolute;
    bottom: 1%;
}

.maintain_inside_bottom ul{
    list-style: none;
    margin-left: 45%;
}

.maintain_inside_bottom ul>li{
    display: inline-block;
    margin-left: 3%;
}

.maintain_inside_bottom ul>li>a{
    font-size: .5rem;
    color: #e84782;
    text-decoration: none;
}

.maintain_inside_bottom ul>li>a:before{
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    right: 7px;
    
}

.maintain_inside_bottom ul>li:first-child>a:before{
    background: url("../images/wh/world.png") no-repeat;
    background-size: 100%;
}

.maintain_inside_bottom ul>li:nth-child(2)>a:before{
    background: url("../images/wh/client.png") no-repeat;
    background-size: 100%;
}

.maintain_inside_bottom ul>li:last-child>a:before{
    background: url("../images/wh/shouye.png") no-repeat;
    background-size: 100%;
}



/*原本的css*/


.main {
    margin: 50px auto;
    width: 750px;
}

.mt3 {
    margin-top: 3px;
}

.clear {
    clear: both;
}

.none {
    display: none;
}

.show {
    display: block;
}

.xs {
    cursor: pointer;
}

.wbf {
    width: 30px;
}

.mt3 {
    margin-top: 3px;
}

.w5 {
    width: 120px;
}

.info {
    float: left;
    width: 150px;
    height: 100px;
}

.webinfo {
    background: #000;
    width: 750px;
    height: 200px;
}

.webinfo_content {
    width: 750px;
    height: 200px;
    position: relative;
    top: -200px;
    color: #fff
}

.info_main {
    width: 150px;
    height: 100px;
    background: #000;
    position: relative;
    left: 0;
    top: 0px;
    z-index: 1px;
}

.info_main_ {

    border: #ffffff solid 0px;
    position: relative;
    left: 0;
    top: -100px;
    z-index: 2;
    width: 150px;
    height: 100px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
}

.info_main_ marquee {
    padding: 0px 10px;
    width: 100px;
}


.siteinfo {
    width: 750px;
    font-size: 14px;
    background: #000;
    line-height: 35px;
    height: 35px;
    color: #fff;
    border-bottom: #B00505 solid 1px;
    -moz-border-radius: 10px 10px 0px 0px;
    /* Gecko browsers */
    -webkit-border-radius: 10px 10px 0px 0px;
    /* Webkit browsers */
    border-radius: 10px 10px 0px 0px;
    /* W3C syntax */
}

.siteinfo div {
    line-height: 35px;
    height: 35px;
    float: left
}

.sitename {
    background: #B00505;
    padding: 0px 20px;
    width: 260px;
    overflow: hidden;
    text-align: center;
    -moz-border-radius: 10px 0px 0px 0px;
    /* Gecko browsers */
    -webkit-border-radius: 10px 0px 0px 0px;
    /* Webkit browsers */
    border-radius: 10px 0px 0px 0px;
    /* W3C syntax */
}

.whcenter {
    padding-left: 20px;
}

a:link,a:visited {
    color: #fff;
    text-decoration: none
}

.ico {
    font-size: 30px;
    float: left;
    margin: 30px 0px 0px 30px;
}

.notice {
    padding: 0px 20px;
    line-height: 30px;
    font-size: 15px;
    margin-top: 20px;
    color: #FFAA00
}

.service {
    float: right;
    padding-right: 30px;
    margin-top: 20px;
}

.domain {
    margin-left: 300px;
}

.startname {
    width: 80px;
    margin: 0px auto;
    background: #000;
    -moz-border-radius: 15px 0px 15px 0px;
    /* Gecko browsers */
    -webkit-border-radius: 15px 0px 15px 0px;
    /* Webkit browsers */
    border-radius: 15px 0px 15px 0px;
    /* W3C syntax */
}
.wh {
    background: #000
}

.whz {
    background: #C10B0B;
}

.close {
    background: #373737;color: #999
}

