<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title> </title>
<style>
html{width: 100%;height: 100%;}
body{width: 100%;height: 100%;margin: 0;overflow:hidden;overflow-x: auto;*overflow:visible;*overflow-x:visible;_overflow:hidden;_overflow-x:auto;}
</style>
<script type="text/javascript">
if (self != top){
    top.location.href = self.location.href;
}
var cyjiframe = true;
var site_url = "<{$site_url}>";
</script>
</head>

<frameset rows="*,0,0,0" frameborder="NO" border="0" framespacing="0">
    <frame name="mem_index" id="mem_index" src="<{$url}>">
    <frame src="" noresize="" scrolling="NO" name="act">
    <frame src="" noresize="" scrolling="NO" name="upupMsg">
</frameset>

<noframes>
<body></body> </noframes>
</html>