<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{getWord('DepositBankSet')}}</h2>
                    </header>
                    <div>
                        <div class="widget-body tab-content">
                            <!--头部筛选查找以及添加-->
                            <div class="widget-body-toolbar">
                                <div class="row">
                                    <label class="col-md-1 col-xs-4  input-label">订单号</label>
                                    <div class="col-md-2 col-xs-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control inp_2" placeholder="" ng-model="order_num">
                                        </div>
                                    </div>
                                    <label class="col-md-1 col-xs-4  input-label">日期查询</label>
                                    <div class="col-md-2 col-xs-8">
                                        <div class="input-group form-group">
                                            <input type="text" name="mydate" placeholder="起始时间" class="form-control datepicker" data-smart-datepicker options="datepickerOptions" data-date-format="yy-mm-dd" ng-model="startTime">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-8 col-xs-offset-4 col-md-offset-0">
                                        <div class="input-group form-group">
                                            <input type="text" name="mydate" placeholder="结束时间" class="form-control datepicker" data-smart-datepicker options="datepickerOptions" data-date-format="yy-mm-dd" ng-model="endTime">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 col-xs-6">
                                        <div class="input-group pull-right">
                                            <button type="submit"   class="btn btn-primary" ng-click="search()">
                                                搜索
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-sm-1  col-xs-6">
                                        <div class="input-group pull-right">
                                            <button type="submit"  onclick="history.go(-1)"  class="btn btn-primary">
                                                返回
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <form class="form-inline" method="post">
                                    <div class="table-scroll">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>订单号</th>
                                                <th>存款金额/元</th>
                                                <th>存款日期</th>
                                                <th>会员账号</th>
                                                <th>备注</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="item in list">
                                                <td>{{item.id}}</td>
                                                <td>{{item.order_num}}</td>
                                                <td>{{item.deposit_money}}</td>
                                                <td>{{item.create_time}}</td>
                                                <td>{{item.user_name}}</td>
                                                <td>{{item.remark}}</td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <tm-pagination conf="paginationConf"></tm-pagination>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

    </section>

</div>

