
<!-- 搜索栏 -->
<style>select{width:auto !important;}#search-form label{margin-right:10px}</style>
<div class="page-header col-xs-12">
    <div id="show-table_filter" class="dataTables_length">
        <form id="search-form" action="" method="">
            <label for="">线路:
                <select type="select" id="line_id" name="line_id">
                    <option value="">初始数据</option>
                  <{foreach from=$data.show.lines item=val key=key}>
                    <option value="<{$val.line_id}>" <{if isset($smarty.get.line_id) && $smarty.get.line_id eq $val.line_id}> selected<{/if}>><{$val.line_id}></option>
                  <{/foreach}>
                </select>
                <span class="children" <{if !isset($smarty.get.line_id) || ( isset($smarty.get.line_id) && $smarty.get.line_id eq '' )}> style="display:none;"<{/if}> >
                    代理类型:
                    <select type="select" name="agent_type" id="agent_type">
                        <option value="">请选择</option>
                        <option value="sh" <{if isset($smarty.get.agent_type) && $smarty.get.agent_type eq 'sh'}> selected<{/if}> >股东</option>
                        <option value="ua" <{if isset($smarty.get.agent_type) && $smarty.get.agent_type eq 'ua'}> selected<{/if}> >总代</option>
                        <option value="at" <{if isset($smarty.get.agent_type) && $smarty.get.agent_type eq 'at'}> selected<{/if}> >代理</option>
                    </select>
                    <span class="children" <{if !isset($smarty.get.agent_type) || ( isset($smarty.get.agent_type) && $smarty.get.agent_type eq '' )}> style="display:none;"<{/if}>>
                        代理商:
                        <select type="select" name="agent_id" id="agent_id">
                            <option value="">请选择</option>
                          <{foreach from=$data.agents item=val key=key}>
                            <option value="<{$val.id}>" <{if isset($smarty.get.agent_id) && $smarty.get.agent_id eq $val.id}> selected<{/if}> ><{$val.login_name}></option>
                          <{/foreach}>
                        </select>
                    </span>
                </span>
            </label>
            <label for="">彩票种类:
                <select type="select" id="fc_type" name="fc_type">
                    <option value="">请选择</option>
                  <{foreach from=$data.show.games item=val key=key}>
                    <option value="<{$val.type}>" <{if !isset($smarty.get.fc_type) && $val.type == 'cq_ssc'}> selected<{/if}> <{if isset($smarty.get.fc_type) && $smarty.get.fc_type eq $val.type}> selected<{/if}>><{$val.name}></option>
                  <{/foreach}>
                </select>
            </label>
            <label>
                <input type="button" id="button" class="btn btn-sm btn-success" value="搜索" />
            </label>
        </form>
    </div>
</div>

<!-- 列表 -->
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                <{include file="_list.html"}>
            </table>
        </div>
    </div>
</div>

<script>
// $(document).ready(function(){
// ------------------ -- ------------------------------------
    $("#search-form select").each(function(){
        $(this).data("lastIndex",$(this).find(':selected').index()).change(function(){
            var lastIndex = $(this).data('lastIndex');
            var curIndex = $(this).find(':selected').index();
            if(lastIndex != curIndex){
                $(this).css({'color':'red'});
            }else{
                $(this).css({'color':''});
            }
        });
    });

    $('#line_id').change(function(){
        $('#agent_type').val('');
        $('#agent_id').val('');
        var child = $('#' + $(this).attr('id') + ' ~ .children');
        $('#agent_type').val('');
        if($(this).val())
            child.show();
        else
            child.hide();
    });

    $('#agent_type').change(function(){
        var obj = $(this);
        var line_id = $('#line_id').val();
        var agent_type = obj.val();
        var child = $('#' + obj.attr('id') + ' ~ .children');
        if(!line_id || !agent_type){
            child.hide();
            return;
        }
        child.show();
        $.ajax({
            type: 'post',
            url: 'agent',
            data: 'line_id=' + line_id + '&agent_type=' + agent_type,
            dataType:'json',
            success: function(data,textStatus){
                var html = '代理商:';
                html += '<select type="select" name="agent_id" id="agent_id">';
                html += '   <option value="">请选择</option>';
                for(x in data){
                    html += '<option value="'+data[x].id+'">'+data[x].login_name+'</option>';
                }
                html += '</select>';

                child.html(html);
            }
        });
    });

// ------------------ 操作 ------------------------------------
    function search() {
        $.pjax({
            data: $('#search-form').serialize(),
            method: 'get',
            url: '?',
            container: '#container'
        });
		return false;
    }
    function jump(url) {
        $.pjax({
            data: $('#search-form').serialize(),
            method: 'get',
            url: url,
            container: '#container'
        });
    }
    // 提交查询
     $('#search-form').submit(function () {
        var agent_type = $('#agent_type').val();
        var agent_id = $('#agent_id').val();
        if(agent_type){
            if(!agent_id){
                layer.msg('请选择代理商');
                return false;
            }
        }
        search();
    });
    // 搜索
     $('#button').click(function () {
        search();
    });

// ------------------ 改 ------------------------------------
    // 编辑赔率
    function actionEdit(play_id){
        var line_id = '<{if isset($smarty.get.line_id)}><{$smarty.get.line_id}><{/if}>';
        if(!line_id){
            layer.msg('如需修改，请选择线路');
            return;
        }
        var obj = $('#item' + play_id);
        if(obj.children(':first').is('input')){
            return;
        }
        var odd = obj.data('odd');
        var oddlen = obj.data('odd').length;
        obj.html('<input style="width:44px;" type="number" oninput="if(value.length>' + oddlen + '){value=value.slice(0,' + oddlen + ');}" />');
        obj.append('<style>input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none;}input[type="number"]{-moz-appearance:textfield;}</style>');
        obj.find('input').focus();
        obj.find('input').val(odd);
        obj.find('input').attr('issubmit',0).bind({
            blur:function(e){
                if($(this).attr('issubmit') == 0)
                actionUpdate(play_id);
            },
            keydown:function(e){
                if($(this).attr('issubmit') == 0)
                if(e.keyCode == 13) {
                    actionUpdate(play_id);
                }
            }
        });
        return;
    }
    // 更新赔率
    function actionUpdate(play_id){
        $('#item' + play_id).find('input').attr('issubmit',1);
        var obj = $('#item' + play_id);
        var odd = obj.data('odd');
        var max_odd = obj.data('max_odd');
        var newodd = obj.find('input').val();
        var preg = /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/;
            if(!preg.test(newodd)){
                layer.alert('请输入合法的赔率!',{icon:0});
                obj.html(odd);
                return;
            }
        if(parseFloat(newodd) == parseFloat(odd)){
            obj.html(odd);
            return;
        }
        if(typeof(max_odd) != 'undefined' && parseFloat(newodd) > parseFloat(max_odd)){
            layer.alert('赔率不能大于'+max_odd,{icon:0});
            obj.html(odd);
            return;
        }
        layer.confirm('确定修改吗？', {
            btn: ['确定','取消']
        }, function(){
            layer.closeAll('dialog');

            var iscustom = obj.attr('iscustom');
            var line_id = $('#line_id').val();
            var agent_type = $('#agent_type').val();
            var agent_id = $('#agent_id').val();
            var fc_type = $('#fc_type').val();
            var gameplay = obj.data('gameplay');
            var input_name = obj.data('input_name');
            var remark = obj.data('remark');
            var status = obj.data('status');
            var sort = obj.data('sort');
            var info = obj.attr('info');

            $.ajax({
                type: 'post',
                url: 'update?',
                data: 'play_id=' + play_id
                    + '&iscustom=' + iscustom
                    + '&line_id=' + line_id
                    + '&agent_type=' + agent_type
                    + '&agent_id=' + agent_id
                    + '&fc_type=' + fc_type
                    + '&odd=' + newodd
                    + '&gameplay=' + gameplay
                    + '&input_name=' + input_name
                    + '&remark=' + remark
                    + '&status=' + status
                    + '&sort=' + sort
                    + '&info=' + info,
                dataType:'json',
                success: function(result,textStatus){
                    if(result.ErrorCode > 0){
                        layer.alert(result.ErrorMsg, {icon: 0});
                        return;
                    }
                    // newodd = Math.round(newodd*100)/100;
                    newodd = Number(newodd).toFixed(2);
                    obj.data('odd',newodd);
                    if(agent_type && agent_id){
                        iscustom = 1;
                    }else{
                        iscustom = -1;
                    }
                    obj.attr('iscustom',iscustom);// 第一次修改后，修改自定义的值，不然第二次还是插入 就修改不了
                    obj.text(newodd);
                    obj.css('color','red');
                    // _refresh();
                    if(result.ErrorMsg){
                        layer.msg(result.ErrorMsg);
                    }
                }
            });
            obj.html(odd);
        }, function(){
            obj.html(odd);
            return;
        });
    }
// });
</script>