<!-- 操作日志-->
<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div id="todo-widget" jarvis-widget data-widget-editbutton="false" data-widget-color="blue" >
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{getWord('OperationLog')}}</h2>
                        <div class="widget-toolbar">
                            <button class="btn btn-xs btn-default" ng-class="{active: newTodo}" ng-click="toggleAdd()"><i ng-class="{ 'fa fa-plus': !newTodo, 'fa fa-times': newTodo}"></i> {{getWord('screening')}}</button>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body tab-content">
                            <div class="widget-body-toolbar" ng-show="newTodo">
                                <div class="row">
                                    <label class="col-md-1 input-label col-xs-4">日期</label>
                                    <div class="col-md-2 col-xs-8">
                                        <div class="input-group form-group">
                                            <input type="text" name="mydate" placeholder="开始时间" class="form-control datepicker" data-smart-datepicker options="datepickerOptions" data-date-format="yy-mm-dd" ng-model="start_time">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                    <label class="col-md-1 col-xs-4 input-label">——————</label>
                                    <div class="col-md-2 col-xs-8">
                                        <div class="input-group form-group">
                                            <input type="text" name="mydate" placeholder="{{getWord('End time')}}" class="form-control datepicker" data-smart-datepicker options="datepickerOptions" data-date-format="yy-mm-dd" ng-model="end_time">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div  class="col-md-2 col-xs-8">
                                        <div class="input-group form-group">
                                            <input type="text" class="form-control inp_2" placeholder="请输入操作者账号" ng-model="account">
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-xs-4">
                                        <div class="input-group">
                                            <a class="btn btn-default search" ng-click="search()" href-void>{{getWord('Search')}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <form class="form-inline" method="post">
                                    <div class="table-scroll">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th class="text-align-center">ID</th>
                                                <th class="text-align-center">日期</th>
                                                <th class="text-align-center">操作者</th>
                                                <th class="text-align-center">记录</th>

                                            </tr>
                                            </thead>
                                            <tbody class="text-align-center">
                                            <tr ng-repeat="item in list">
                                                <td>{{item.id}}</td>
                                                <td>{{item.operater}}</td>
                                                <td>{{item.record}}</td>
                                                <td>{{item.time|fiterTime}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <tm-pagination conf="paginationConf"></tm-pagination>

                                </form>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

