<div id="content">
    <section widget-grid id="widget-grid">
        <div jarvis-widget id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                <h2>Default Elements</h2>
            </header>

            <!-- widget div-->
            <div>

                <!-- widget content -->
                <div class="widget-body">

                    <form class="form-horizontal" id="formdata" enctype="multipart/form-data">
                        <fieldset>
                            <legend>{{lang['Site information']}}</legend>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{lang['Site name']}}:</label>
                                <div class="col-md-3">
                                    <!--<input class="form-control" placeholder="选择状态" type="text" name="status" list="list1">-->
                                    <select class="form-control" name="status">
                                        <option value="1">启用</option>
                                        <option value="0">禁用</option>
                                    </select>
                                    <p class="note"><strong>{{lang['Tip']}}:</strong>{{lang['Select site status']}}</p>
                                </div>
                                <label class="col-md-2 control-label">{{lang['Distributor']}}:</label>
                                <div class="col-md-3">
                                    <input class="form-control" placeholder="{{lang['Choose dealers']}}" type="text" name="agencyName" list="list">
                                    <datalist id="list">
                                        <option ng-repeat="list in addsite1.dataJson">{{list.AgencyName}}</option>
                                    </datalist>
                                    <p class="note"><strong>{{lang['Tip']}}:</strong>{{lang['Select the dealer or manually enter the dealer name']}}</p>
                                </div>
                            </div>
                            <div class="form-group addInp">
                                <label class="col-md-2 control-label">{{lang['PC domain name']}}:</label>
                                <div class="col-md-3">
                                    <input class="form-control" placeholder="{{lang['Please enter the PC domain name']}}" name="siteName" type="text">
                                </div>
                                <label class="col-md-2 control-label">{{lang['WAP domain name']}}:</label>
                                <div class="col-md-3">
                                    <input class="form-control" placeholder="{{lang['Please enter the WAP domain name']}}" name="siteName" type="text">
                                </div>
                                <div class="form-group"></div>
                                <div class="form-group"></div>
                            </div>
                            <div class="form-group">
                                <span class="col col-md-4 col-sm-offset-4" style="height: 50px;text-align: center;border: 1px dashed #bbbbbb;line-height: 50px;" ng-click="addsite1.add($event)">{{lang['Click Add domain name and certificate customer service information']}}</span>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>客服信息</legend>

                            <div class="form-group">
                                <label class="control-label col-md-2">QQ:</label>
                                <div class="col-md-10">
                                    <input type="hidden" name="name[]" value="qq">
                                    <input class="form-control input-sm" placeholder="{{lang['Please enter']}}..." type="text" name="siteInfo[]">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">{{lang['WeChat']}}:</label>
                                <div class="col-md-10">
                                    <input type="hidden" name="name[]" value="wechat">
                                    <input class="form-control input-sm" placeholder="{{lang['Please enter']}}..." type="text" name="siteInfo[]">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">{{lang['Telephone']}}:</label>
                                <div class="col-md-10">
                                    <input type="hidden" name="name[]" value="phone">
                                    <input class="form-control input-sm" placeholder="{{lang['Please enter']}}..." type="text" name="siteInfo[]">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">{{lang['Email']}}:</label>
                                <div class="col-md-10">
                                    <input type="hidden" name="name[]" value="email">
                                    <input class="form-control input-sm" placeholder="{{lang['Please enter']}}..." type="email" name="siteInfo[]">
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-default" type="button">
                                        {{lang['Cancel']}}
                                    </button>
                                    <button class="btn btn-primary" type="submit" value="Submit" ng-click="addsite1.submit()">
                                        <i class="fa fa-save"></i>
                                        {{lang['Confirm']}}
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>
    </section>

</div>
