<!-- 子账号 -->
<div id="content">
<section widget-grid id="widget-grid">
            <div class="row">
                <article class="col-sm-12">
                    <div id="todo-widgets" jarvis-widget data-widget-editbutton="false" data-widget-color="blue">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>IP开关操作</h2>
                            <div class="widget-toolbar">
                                <button class="btn btn-xs btn-default" ng-class="{active: newTodo}" ng-click="toggleAdd()"><i ng-class="{ 'fa fa-plus': !newTodo, 'fa fa-times': newTodo}"></i> {{lang['screening']}}</button>
                            </div>
                        </header>
                        <div>
                            <div class="widget-body tab-content">
                                <div ng-show="newTodo">
                                    <div class="row form-horizontal ">
                                        <label class="col-md-1 control-label">起始IP：</label>
                                        <div class="col-md-2">
                                            <div class="form-group" ng-init="startip==''" >
                                                <select data-smart-select2 class="selectWidth" ng-model="startip" ng-change="startip(startip)">
                                                    <option value="">全部</option>
                                                    <option value="{{item.id}}" ng-repeat="item in option_ip">{{item.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <label class="col-md-1 control-label">结束IP：</label>
                                        <div class="col-md-2">
                                            <div class="form-group" ng-init="end_ip==''" >
                                                    <select data-smart-select2 class="selectWidth" ng-model="end_ip"  >
                                                        <option value="">全部</option>
                                                        <option value="{{item.id}}" ng-repeat="item in option_ip">{{item.name}}</option>
                                                    </select>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-xs-4 text-center">
                                            <div class="form-group">
                                                <a class="btn btn-default search" ng-click="search()" href-void>{{lang['Search']}}</a>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-md-offset-0 col-xs-4 col-xs-offset-8 text-center">
                                            <div class="form-group">
                                                <button type="submit" data-toggle="modal" data-target="#myModal1"
                                                class="btn btn-primary" ng-click="openAdd()">
                                                    <i class="fa fa-plus"></i> {{lang['AddMore']}}
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-md-offset-0 col-xs-4 col-xs-offset-8 text-center">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary" data-ui-sref="app.site.Whitelist">
                                                    <i class="fa fa-plus"></i> ip白名单
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form class="form-inline" method="post">
                                    <div class="table-scroll">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th class="text-center">起始ip</th>
                                                <th class="text-center">结束ip</th>
                                                <th class="text-center">控制类型</th>
                                                <th class="text-center">ip状态</th>
                                                <th class="text-center">备注</th>
                                                <th class="text-center">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="text-center" ng-repeat="item in list">
                                                <td>{{item.star_ip }}</td>
                                                <td>{{item.end_ip}}</td>
                                                <td>{{item.type}}</td>
                                                <td>{{item.ip_status}}</td>
                                                <td>{{item.remack}}</td>

                                                <td>
                                                    <button data-toggle="modal" data-target="#myModal2" class="btn btn-default btn-xs" ng-click="getID(item)">编辑</button>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <tm-pagination conf="paginationConf"></tm-pagination>
                                </form>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
</section>
</div>

<!--添加-->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="addAccount" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="addAccount">添加IP操作</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-2 input-label">IP</label>
                                <div class="col-md-10">
                                    <label class=" checkbox-inline">
                                        <input type="checkbox" name="radioBtn" ng-model="status1" value="1"> 客户后台
                                    </label>
                                    <label class=" checkbox-inline">
                                        <input type="checkbox" name="radioBtn"  ng-model="statu2" value="2"> 代理后台
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="radioBtn"  ng-model="status4" value="4"> 前台
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="radioBtn"  ng-model="status5" value="5"> wap端
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <fieldset>
                        <label class="col-md-2 control-label ng-binding">起始ip</label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" ng-model="start_ip"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <label class="col-md-2 control-label ng-binding">结束Ip</label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" ng-model="end_ip"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <label class="col-md-2 control-label ng-binding">内容</label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea style="width: 100%;" rows="5" ng-model="content"></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label ng-binding">是否启用</label>
                                    <div class="col-md-6">
                                        <label class="radio radio-inline">
                                            <input type="radio" name="radioBtn" ng-model="status" value="1"> 启用
                                        </label>
                                        <label class="radio radio-inline">
                                            <input type="radio" name="radioBtn"  ng-model="status" value="2"> 禁用
                                        </label>
                                    </div>
                                </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{lang['Cancel']}}
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="add()">
                    {{lang['Confirm']}}
                </button>
            </div>
        </div>
    </div>
</div>


<!--编辑-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="addAccount" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="addAccount">修改ip操作</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-2 input-label">IP</label>
                                <div class="col-md-10">
                                    <label class=" checkbox-inline">
                                        <input type="checkbox" name="radioBtn" ng-model="status1" value="1"> 客户后台
                                    </label>
                                    <label class=" checkbox-inline">
                                        <input type="checkbox" name="radioBtn"  ng-model="statu2" value="2"> 代理后台
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="radioBtn"  ng-model="status4" value="4"> 前台
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="radioBtn"  ng-model="status5" value="5"> wap端
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <fieldset>
                        <label class="col-md-2 control-label ng-binding">起始ip</label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" ng-model="start_ip"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <label class="col-md-2 control-label ng-binding">结束Ip</label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" ng-model="end_ip"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <label class="col-md-2 control-label ng-binding">内容</label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea style="width: 100%;" rows="5" ng-model="data.remack"></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 control-label ng-binding">是否启用</label>
                            <div class="col-md-6">
                                <label class="radio radio-inline">
                                    <input type="radio" name="radioBtn" ng-model="data.status"> 启用
                                </label>
                                <label class="radio radio-inline">
                                    <input type="radio" name="radioBtn" ng-model="data.status"> 禁用
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{lang['Cancel']}}
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="modify()">
                    {{lang['Confirm']}}
                </button>
            </div>
        </div>
    </div>
</div>

</div>