<!--上级公告-->
<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-md-6 col-xs-12" ng-repeat="item in data">
                <div jarvis-widget  data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{item.title}}</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="widget-body-toolbar form-horizontal">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="control-label col-md-2">选择</label>
                                            <div class="col-md-6">
                                                <button class="btn btn-default" data-toggle="modal" data-target="#myModal1" ng-click="detail(item)">多站点选择</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-md-12">
                                            <label class="control-label col-md-2" >公告内容</label>
                                            <div class="col-md-10">
                                                <lable class="">{{item.main}}</lable>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>

    </section>
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="addAccount" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="addAccount">多站点设置</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="input-item">
                                <label class="col-md-2 input-label">站点</label>
                                <label class="col-md-10 control-label" style="margin-top: 6px;">
                                    <span class="col-md-6" data-site="{{item.site_index_id}}" ng-repeat="item in site"><input name="bb" ng-model="check2" class="check2" type="checkbox" />{{item.site_name}}&nbsp;&nbsp;</span>
                                </label>
                            </section>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <section class="input-item">
                                <label class="col-md-2 input-label">内容</label>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <textarea style="width: 100%;" rows="5" ng-model="res.main"></textarea>
                                    </div>
                                </div>

                                <!--<textarea class=" form-control" placeholder="" rows="5" required ng-model="res.main"></textarea>-->
                            </section>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {{lang['Cancel']}}
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="modify()">
                        {{lang['Confirm']}}
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>



