<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>负数报表</h2>

                    </header>
                    <div>
                        <div class="widget-body tab-content">
                                <div class="widget-body-toolbar">
                                    <div class="row form-horizontal">
                                        <div class="col-sm-1 col-xs-4">
                                            <button class="btn btn-default" data-toggle="modal" data-target="#myModal3" >新增</button>
                                        </div>
                                    </div>
                                </div>
                            <div class="table-responsive">
                                <form class="form-inline" method="post">
                                    <div class="table-scroll">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th class="text-center">日期</th>
                                                <th ng-repeat="type in name" class="text-center">{{type}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="item in list" class="text-center">
                                                <td>{{item.time}}</td>
                                                <td ng-repeat="typeItem in item.rate">{{typeItem}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <!--新增-->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="addAccount" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="">新增</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal ng-pristine ng-valid">
                        <fieldset ng-repeat="itme in  name">
                            <label class="col-md-3 control-label ng-binding test" name="{{itme}}">{{itme}}</label>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control values" type="text"/>
                                </div>
                            </div>
                        </fieldset>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {{lang['Cancel']}}
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="add()">
                        {{lang['Confirm']}}
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
