<div id="content">
    <div class="row">

        <section widget-grid id="widget-grid">

            <div class="row">

                <article class="col-sm-12">
                    <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>前台</h2>
                        </header>
                        <div>
                            <div class="widget-body tab-content">
                                <div class="widget-body">
                                    <div class="widget-body-toolbar">
                                            <div class="col-md-1 col-xs-4 col-md-2">
                                                <div class="form-group">
                                                    <button class="btn btn-default btn-xs" data-ui-sref="app.GraphicEditor.Logo">LOGO管理</button>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-xs-4 col-md-2">
                                                <div class="form-group">
                                                    <button class="btn btn-default btn-xs" data-ui-sref="app.CopyEditor.DepositCopy">存款文案</button>
                                                </div>
                                            </div>
                                        <div class="col-md-1 col-xs-4 col-md-2">
                                            <div class="form-group">
                                                <button class="btn btn-default btn-xs" data-ui-sref="app.CopyEditor.HomeCopy">首页文案</button>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-xs-4 col-md-2">
                                            <div class="form-group">
                                                <button class="btn btn-default btn-xs" data-ui-sref="app.CopyEditor.RegisterCopy">注册文案</button>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-xs-4 col-md-2">
                                            <div class="form-group">
                                                <button class="btn btn-default btn-xs" data-ui-sref="app.GraphicEditor.Swiper">首页轮播图</button>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-xs-4 col-md-2">
                                            <div class="form-group">
                                                <button class="btn btn-default btn-xs" data-ui-sref="app.GraphicEditor.GamePic">游戏轮播图</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </article>


            </div>

        </section>
        <div class="modal fade" id="dialog_model" tabindex="-1" role="dialog" aria-labelledby="addAccount" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="addAccount">站点口令设置</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal ng-pristine ng-valid">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">SITE_ID</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" ng-model="data.site_index_id">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">密钥</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" ng-model="data.key">
                                    </div>
                                </div>
                            </fieldset>


                            <fieldset >
                                <div class="form-group">
                                    <label class="col-md-3 control-label">是否开启</label>
                                    <div class="col-md-7">
                                        <select name="" id="" class="form-control" ng-model="data.status">
                                            <option value="{{item.value}}" ng-repeat="item in option_onOff">{{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            {{lang['Cancel']}}
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="sumbit()">
                            提交
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

