<div id="content">
    <section id="widget-grid" widget-grid>
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget id="wid-id-0" data-widget-color="darken" data-widget-editbutton="false"
                     data-widget-deletebutton="false">
                    <header>
                        <!--<span class="widget-icon"> <i class="fa fa-check"></i> </span>-->
                        <!--<h2>创建进度 </h2>-->
                    </header>
                    <div>
                        <div class="widget-body seeSite">
                            <form class="form-horizontal" id="formdata" enctype="multipart/form-data">
                                <fieldset>
                                    <legend>{{lang['Site information']}}</legend>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{lang['Site name']}}:</label>
                                        <div class="col-md-3">
                                            <span class="form-control">防火喂饭i</span>
                                        </div>
                                        <label class="col-md-2 control-label">{{lang['Distributor']}}:</label>
                                        <div class="col-md-3">
                                            <span class="form-control">更富有</span>
                                        </div> </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{lang['PC domain name']}}:</label>
                                        <div class="col-md-3">
                                            <span class="form-control">4568562023458</span>
                                        </div>
                                        <label class="col-md-2 control-label">{{lang['WAP domain name']}}:</label>
                                        <div class="col-md-3">
                                            <span class="form-control">158484231056468</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{lang['SSI certificate']}}:</label>
                                        <div class="col-md-2">
                                            <span class="form-control">更富有</span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="form-control">更富有</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{lang['PC domain name']}}:</label>
                                        <div class="col-md-3">
                                            <span class="form-control">4568562023458</span>
                                        </div>
                                        <label class="col-md-2 control-label">{{lang['WAP domain name']}}:</label>
                                        <div class="col-md-3">
                                            <span class="form-control">158484231056468</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{lang['SSI certificate']}}:</label>
                                        <div class="col-md-2">
                                            <span class="form-control">更富有</span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="form-control">更富有</span>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>{{lang['Customer service information']}}</legend>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">QQ:</label>
                                        <div class="col-md-10">
                                            <span class="form-control">874455118</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">{{lang['WeChat']}}:</label>
                                        <div class="col-md-10">
                                           <span class="form-control">15877885445</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">{{lang['Telephone']}}:</label>
                                        <div class="col-md-10">
                                            <span class="form-control">188778899665</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">{lang['Email']}}:</label>
                                        <div class="col-md-10">
                                            <span class="form-control">87451455478@qq.com</span>
                                        </div>
                                    </div>
                                </fieldset>
                                <br>
                            </form>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
