<style>
    .select{width:20%;float:left;margin-right:10px}
</style>
<div class="page-header">
    <p id="me-table-buttons">
    <h1>
        <a href="javascript:;" id="line_index">线路列表</a>
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            修改线路
        </small>
    </h1>

</p>
</div>
<div class="row">
    <div class="col-xs-12">
        <form id="line_form" class="form-horizontal" method='post' action='/line/baseupdate'>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="line_id">线路ID:</label>
                <div class="col-sm-9">
                    <input type="text" name="line_id" id='line_id' value="<{if isset($data['line_id'])}><{$data['line_id']}><{/if}>" disabled="true" class="col-sm-5" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="line_name">线路名称</label>
                <div class="col-sm-9">
                    <input type="text" name="line_name" id='line_name' value="<{if isset($data['line_name'])}><{$data['line_name']}><{/if}>" class="col-sm-5" />
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="url">域名:</label>
                <div class="col-sm-9">
                    <input type="text" name="url" id='url' value="<{if isset($data['url'])}><{$data['url']}><{/if}>" class="col-sm-5" />
                </div>
            </div>

            <!--  <div class="form-group">
               <label class="col-sm-3 control-label no-padding-right" for="money">额度:</label>
               <div class="col-sm-9">
                   <input type="text" name="money" id='money' value="<{if isset($data['money'])}><{$data['money']}><{/if}>" disabled="true" class="col-sm-5" />
               </div>
             </div> -->

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="apikey">md5Key:</label>
                <div class="col-sm-9">
                    <input type="text" name="apikey" id='apikey' value="<{if isset($data['md5key'])}><{$data['md5key']}><{/if}>" class="col-sm-5" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="deskey">desKey:</label>
                <div class="col-sm-9">
                    <input type="text" name="deskey" id='deskey' value="<{if isset($data['deskey'])}><{$data['deskey']}><{/if}>" class="col-sm-5" />
                </div>
            </div>

            <div class="form-group">
                <label for="status" class="col-sm-3 control-label no-padding-right"> 状态:</label>
                <div class="col-sm-9">
                    <select type="select" name="status"  id="status" class="form-control select">
                        <option value="1" <{if isset($data['status']) && $data['status'] eq 1 }>selected<{/if}>>启用</option>
                        <option value="2" <{if isset($data['status']) && $data['status'] eq 2 }>selected<{/if}>>停用</option>
                        <option value="3" <{if isset($data['status']) && $data['status'] eq 3 }>selected<{/if}>>维护</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="type" class="col-sm-3 control-label no-padding-right"> 交易模式:</label>
                <div class="col-sm-9">
                    <select type="select" name="type"  id="type" class="form-control select">
                        <option value="1" <{if isset($data['type']) && $data['type'] eq 1 }>selected<{/if}>>钱包模式</option>
                        <option value="2" <{if isset($data['type']) && $data['type'] eq 2 }>selected<{/if}>>额度转换</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="experience" class="col-sm-3 control-label no-padding-right"> 试玩模式:</label>
                <div class="col-sm-9">
                    <select type="select" name="experience"  id="experience" class="form-control select">
                        <option value="1" <{if isset($data['is_shiwan']) && $data['is_shiwan'] eq 1 }>selected<{/if}> >否</option>
                        <option value="2" <{if isset($data['is_shiwan']) && $data['is_shiwan'] eq 2 }>selected<{/if}> >是</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="addtime">添加时间：</label>
                <div class="col-sm-9">
                    <input type="text" name="" value="<{if isset($data['addtime'])}><{$data['addtime']}><{/if}>" class="col-sm-5" disabled />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="updatetime">修改时间：</label>
                <div class="col-sm-9">
                    <input type="text" name="" value="<{if isset($data['updatetime'])}><{$data['updatetime']}><{/if}>" class="col-sm-5" disabled />
                </div>
            </div>

            <input type="hidden" name="id" id="id" value="<{$data['id']}>" />
            <input type="hidden" name="oldaddtime" id="oldaddtime" value="<{$data['oldaddtime']}>" />

            <div class="space-4"></div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="button" id='save' onclick="return check();">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        提交
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="button" id='reset' >
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $('#line_index').click(function () {
        $.pjax({
            method: 'get',
            url: '/line/index',
            container: '#container'
        });
    })
    function check() {
        var line_id = $('#line_id').val();
        var line_name = $('#line_name').val();
        var money = $('#money').val();
        var url = $('#url').val();
        var status = $('#status').val();
        var type = $('#type').val();
        var id = $('#id').val();
        var oldaddtime = $('#oldaddtime').val();
        var apikey = $('#apikey').val();
        var deskey = $('#deskey').val();
        var experience = $('#experience').val();

        if (line_id == '') {
            layer.alert('线路ID不能为空！', {icon: 2});
            $('#line_id').focus();
            return false;
        }
        if (line_name == '') {
            layer.alert('线路名称不能为空！', {icon: 2});
            $('#line_name').focus();
            return false;
        }

        // if(money == ''){
        //   layer.alert('额度不能为空！', {icon: 2});
        //   $('#money').focus();
        //   return false;
        // }

        if (url == '') {
            layer.alert('域名不能为空！', {icon: 2});
            $('#url').focus();
            return false;
        }

        if (apikey == '') {
            layer.alert('md5Key不能为空!', {icon: 2});
            $('#apikey').focus();
            return false;
        }
        if (apikey.length != 17) {
            layer.alert('md5Key长度只能为17位', {icon: 2});
            $('#apikey').focus();
            return false;
        }
        if (deskey == '') {
            layer.alert('desKey不能为空!', {icon: 2});
            $('#deskey').focus();
            return false;
        }
        if (deskey.length != 8) {
            layer.alert('desKey长度只能为8位', {icon: 2});
            $('#deskey').focus();
            return false;
        }
        if (id == '' || oldaddtime == '') {
            layer.alert('关键数据丢失!', {icon: 2});
            return false;
        }

        $.ajax({
            type: "post",
            url: '/line/baseupdate',
            data: {
                "id": id,
                "oldaddtime": oldaddtime,
                "line_id": line_id,
                "line_name": line_name,
                "money": money,
                "api_key": apikey,
                "deskey": deskey,
                "url": url,
                "status": status,
                "type": type,
                "experience": experience
            },
            beforeSend: function () {
                load = layer.load(1, {
                    shade: [0.5, '#000000'] //0.1透明度的白色背景
                });

            },
            error: function () {
                layer.alert('出错啦！', {icon: 2})
                layer.close(load);
                return false;
            },
            dataType: 'json',
            success: function (res) {
                if (res.ErrorCode == 2) {
                    layer.alert(res.ErrorMsg, {icon: 2});
                    layer.close(load);
                } else if (res.ErrorCode == 1) {
                    layer.alert(res.ErrorMsg, {icon: 1}, function () {
                        window.location.href = '/line/index';
                    });
                    layer.close(load);
                }
                return false;
            },
            complete: function () {
                var idx = $('.layui-layer-shade').length - 1;
                if (idx > 0) {
                    $('body').find('.layui-layer-shade').eq(idx).remove();
                }
            }
        });

        return false;

    }
    //重置
    $('#reset').click(function () {
        window.location.reload();
    })

</script>