<!-- 管理员账号 -->
<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget  data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{lang['configuration']}}</h2>
                        <div class="widget-toolbar">
                            <button class="btn btn-xs btn-default" ng-class="{active: newTodow}" ng-click="toggleAdd()"><i ng-class="{ 'fa fa-plus': !newTodow, 'fa fa-times': newTodow}"></i> {{lang['screening']}}</button>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body tab-content">
                            <!--头部筛选查找以及添加-->
                            <div ng-show="newTodow">
                            <div class="widget-body-toolbar">
                                <div class="form-horizontal">
                                    <div class="row">
                                        <label class="col-md-1 col-xs-3 input-label">搜索</label>
                                        <div class="col-md-2 col-xs-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control inp_2" id="inp_2" placeholder="请输入商品类型" ng-model="namese">
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-xs-3">
                                            <div class="input-group">
                                                <button class="btn btn-default search" id="searchBtn" ng-click="search()"  href-void>{{lang['Search']}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="table-scroll">
                                <div class="panel-group smart-accordion-default" id="accordion">
                                        <div class="panel panel-default" ng-repeat="item in list" >
                                        <div class="panel-heading">
                                            <h4 class="panel-title" ng-click="comm(item.id)"><a data-toggle="collapse" data-parent="#accordion" ng-href="{{'#'+item.id}}"" class="collapsed"> <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i> {{item.Title}} </a></h4>
                                        </div>
                                        <div id="{{item.id}}" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <div class="table-scroll"><div class="row">
                                                      <div class="col-md-2 col-xs-6 control-labelpull-left" ng-repeat="items in item.Children" >
                                                          <div class="input-group smart-form" style="margin-bottom:15px" >
                                                              <label class="checkbox">
                                                                  <input type="checkbox" name="checkbox" class="test" ng-checked="items.is_product===1" name="test" ng-click="ckecked($event)" value={{items.id}} ng-model="all">
                                                                  <i></i>{{items.platform}}
                                                              </label>
                                                              <div class="inputsese pull-right">
                                                                  <label class="input">
                                                                      <i class="icon-append">%</i>
                                                                      <input type="text"  value={{items.proportion}} class="inputse" ng-readonly="!all">
                                                                  </label>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="smart-form ">
                                <footer>
                                    <button type="submit" class="btn btn-primary" ng-click="sub()">确认</button>
                                    <button type="button" class="btn btn-default" onclick="history.go(-1);">返回</button>
                                </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>