<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div id="todo-widget" jarvis-widget data-widget-editbutton="false" data-widget-color="blue">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{lang['Site List']}}</h2>
                        <div class="widget-toolbar">
                            <button class="btn btn-xs btn-default" ng-class="{active: newTodo}" ng-click="toggleAdd()"><i ng-class="{ 'fa fa-plus': !newTodo, 'fa fa-times': newTodo}"></i> {{lang['screening']}}</button>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body tab-content">
                            <div class="widget-body-toolbar" ng-show="newTodo">
                                <div class="form-horizontal">
                                    <div class="row">
                                    <label class="col-md-1 col-xs-4 input-label">站点状态</label>
                                    <div class="col-md-2 col-xs-8">
                                        <div class="form-group" ng-init="status='0'">
                                            <select  class="form-control" ng-model="status">
                                                <option value="0">请选择</option>
                                                <option value="1">启用</option>
                                                <option value="2">停用</option>
                                            </select>
                                        </div>
                                    </div>
                                    <label class="col-md-1 col-xs-4 input-label">套餐</label>
                                    <div class="col-md-2 col-xs-8">
                                        <div class="form-group">
                                            <select data-smart-select2 style="width: 100%;" ng-model="combo_id">
                                                <option value="">请选择</option>
                                                <option value="{{item.id}}" ng-repeat="item in packageList">{{item.combo_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <label class="col-md-1 col-xs-4 input-label">{{lang['Search']}}</label>
                                    <div class="col-md-2 col-xs-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="{{lang['Site name']}}" ng-model="site_name">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-1 col-xs-2">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <a class="btn btn-default" ng-click="search()" href-void>{{lang['Search']}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-xs-6">
                                        <div class="form-group">
                                            <div class="input-group pull-right">
                                                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
                                                    <i class="fa fa-plus"></i> 新增站点
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-xs-6">
                                        <div class="form-group">
                                            <div class="input-group pull-right">
                                                <button class="btn btn-primary" onclick="history.go(-1)">
                                                    返回
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <form class="form-inline" method="post">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>站点ID</th>
                                            <th>站点名称</th>
                                            <th>前台ID</th>
                                            <th>域名上限</th>
                                            <th>已有域名</th>
                                            <th>额外费用</th>
                                            <th>套餐</th>
                                            <th>客服QQ</th>
                                            <th>客服电话</th>
                                            <th>客服微信</th>
                                            <th>客服邮箱</th>
                                            <th>备注</th>
                                            <th>站点状态</th>
                                            <th>功能</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in list">
                                            <td>{{item.site_id}}</td>
                                            <td>{{item.site_name}}</td>
                                            <td>{{item.site_index_id}}</td>
                                            <td>{{item.dom_up}}</td>
                                            <td ng-click="getSite(item.site_id,item.site_index_id)" data-toggle="modal" data-target="#myModal3"><a style="text-decoration: underline;">{{item.exist_domain}}</a></td>
                                            <td>{{item.extra_charges}}</td>
                                            <td>{{item.combo_name}}</td>
                                            <td>{{item.qq}}</td>
                                            <td>{{item.phone}}</td>
                                            <td>{{item.wechat}}</td>
                                            <td>{{item.email}}</td>
                                            <td>{{item.remark}}</td>
                                            <td class="text-red"><span ng-bind="item.status==1?'已启用':'已禁用'"></span></td>
                                            <td>
                                                <button  class="btn btn-default btn-xs" data-ui-sref="app.Platform.domain({id: item.site_id,site:item.site_index_id})" >域名管理</button>
                                                <button  ng-click="dis(item.site_id,item.site_index_id)"  class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal4">优惠设定</button>
                                                <button  ng-click="disable(item.site_id,item.site_index_id)"  class="btn btn-default btn-xs" >{{item.status==1?'禁用':'启用'}}</button>
                                                <button  ng-click="modify(item.site_id,item.site_index_id)"  class="btn btn-default btn-xs"  data-toggle="modal" data-target="#myModal2">修改</button>
                                                <button  ng-click="delete(item.site_id,item.site_index_id)"  class="btn btn-default btn-xs" >删除</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <tm-pagination conf="paginationConf"></tm-pagination>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!--添加-->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="addAccount" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">新增站点</h4>
            </div>
            <div class="modal-body">
                <form  enctype="multipart/form-data" class="smart-form client-form ng-pristine ng-valid" novalidate="novalidate" >
                    <fieldset>
                        <section class="input-item">
                            <div class="col-md-3 col-xs-4 input-label">站点名称</div>
                            <label class="col-md-7 col-xs-8 input">
                                <input type="text" name="account" placeholder="请输入站点名称" ng-model="formData.site_name">
                                <b class="tooltip tooltip-top-right">
                                    请输入站点名称</b>
                            </label>
                        </section>
                        <section class="input-item">
                            <div class="col-md-3 col-xs-4 input-label">站点ID</div>
                            <label class="col-md-7 col-xs-8 input">
                                <input type="text" name="account" placeholder="请输入站点ID" ng-model="formData.site" readonly>
                                <!--<b class="tooltip tooltip-top-right">-->
                                    <!--请输入站点ID</b>-->
                            </label>
                        </section>
                        <section class="input-item">
                            <div class="col-md-3 col-xs-4 input-label">站点前台ID</div>
                            <label class="col-md-7 col-xs-8 input">
                                <input type="text" name="account" placeholder="请输入站点前台ID" ng-model="formData.site_index">
                                <b class="tooltip tooltip-top-right">
                                    请输入站点前台ID</b>
                            </label>
                        </section>
                        <section class="input-item">
                            <label class="col-md-3 col-xs-4 input-label">域名上线</label>
                            <label class="col-md-7 col-xs-8 input">
                                <input type="number" min="1" ng-model="formData.dom_up">
                                <b class="tooltip tooltip-top-right">
                                    默认最小为1</b>
                            </label>
                        </section>
                        <section class="input-item">
                            <label class="col-md-3 col-xs-4 input-label">超过上限</label>
                            <label class="col-md-7 col-xs-5 input">
                                <input type="number" min="1" name="account" ng-model="formData.up_charge">
                                <b class="tooltip tooltip-top-right">
                                    超出域名上限每个域名加收费用</b>
                            </label>
                            <label class="col-md-2 col-xs-3 input-label">元/个</label>
                        </section>
                        <section class="input-item">
                            <label class="col-md-3 col-xs-4 input-label">套餐选择</label>
                            <label class="col-md-7 col-xs-8 input">
                                <div class="form-group" ng-init="formData.combo_id=''">
                                    <select class="form-control" ng-model="formData.combo_id">
                                        <option value="">请选择</option>
                                        <option ng-value="item.id" ng-repeat="item in packageList">{{item.combo_name}}</option>
                                    </select>
                                </div>
                            </label>
                        </section>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="add()">
                    {{lang['Confirm']}}
                </button>
            </div>
        </div>
    </div>
</div>

<!--修改站点-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="addAccount" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">修改站点</h4>
            </div>
            <div class="modal-body">
                <form  enctype="multipart/form-data" class="smart-form client-form ng-pristine ng-valid" novalidate="novalidate"  >
                    <fieldset>
                        <section class="input-item">
                            <div class="col-md-3 col-xs-4 input-label">站点名称</div>
                            <label class="col-md-7 col-xs-8 input">
                                <input type="text" name="account" placeholder="请输入站点名称" ng-model="modifyData.site_name">
                                <b class="tooltip tooltip-top-right">
                                    请输入站点名称</b>
                            </label>
                        </section>
                        <section class="input-item">
                            <label class="col-md-3 col-xs-4 input-label">域名上线</label>
                            <label class="col-md-7 col-xs-8 input">
                                <input type="number" min="1" ng-model="modifyData.dom_up">
                                <b class="tooltip tooltip-top-right">
                                    默认最小为1</b>
                            </label>
                        </section>
                        <section class="input-item">
                            <label class="col-md-3 col-xs-4 input-label">超过上限</label>
                            <label class="col-md-7 col-xs-5 input">
                                <input type="number" min="1" name="account" ng-model="modifyData.up_charge">
                                <b class="tooltip tooltip-top-right">
                                    超出域名上限每个域名加收费用</b>
                            </label>
                            <label class="col-md-2 col-xs-3 input-label">元/个</label>
                        </section>
                        <section class="input-item">
                            <label class="col-md-3 col-xs-4 input-label">套餐选择</label>
                            <label class="col-md-7 col-xs-8 input">
                                <div class="form-group" ng-init="combo=''">
                                    <select class="form-control" ng-model="combo">
                                        <option value="">请选择</option>
                                        <option ng-value="item.id" ng-repeat="item in packageList">{{item.combo_name}}</option>
                                    </select>
                                </div>
                            </label>
                        </section>
                        <section class="input-item">
                            <label class="col-md-3 col-xs-4 input-label">客服QQ</label>
                            <label class="col-md-7 col-xs-8 input">
                                <input type="text" min="1" name="account" ng-model="modifyData.qq">
                            </label>
                        </section>
                        <section class="input-item">
                            <label class="col-md-3 col-xs-4 input-label">客服电话</label>
                            <label class="col-md-7 col-xs-8 input">
                                <input type="text" min="1" name="account" ng-model="modifyData.phone">
                            </label>
                        </section>
                        <section class="input-item">
                            <label class="col-md-3 col-xs-4 input-label">客服微信</label>
                            <label class="col-md-7 col-xs-8 input">
                                <input type="text" min="1" name="account" ng-model="modifyData.wechat">
                            </label>
                        </section>
                        <section class="input-item">
                            <label class="col-md-3 col-xs-4 input-label">客服邮箱</label>
                            <label class="col-md-7 col-xs-8 input">
                                <input type="text" min="1" name="account" ng-model="modifyData.email">
                            </label>
                        </section>
                        <section class="input-item">
                            <label class="col-md-3 col-xs-4 input-label">备注</label>
                            <label class="col-md-7 col-xs-8 input">
                                <input type="text" min="1" name="account" ng-model="modifyData.remark">
                                <b class="tooltip tooltip-top-right">
                                    最长不能超过30字</b>
                            </label>
                        </section>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="modifySubmit()">
                    {{lang['Confirm']}}
                </button>
            </div>
        </div>
    </div>
</div>


<!--站点域名-->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">站点域名</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" ng-if="domlist.pc_domain">
                    <thead>
                    <tr>
                        <th>PC域名</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in domlist.pc_domain">
                        <td>{{item}}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered" ng-if="domlist.wap_domain">
                    <thead>
                    <tr>
                        <th>手机域名</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in domlist.wap_domain">
                        <td>{{item}}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered" ng-if="domlist.pay_domain">
                    <thead>
                    <tr ng-repeat="item in domlist.pay_domain">
                        <td>{{item}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addAcount()">
                    {{lang['Confirm']}}
                </button>
            </div>
        </div>
    </div>
</div>

<!--优惠-->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">申请会员优惠设定</h4>

            </div>
            <div class="modal-body">
                <form class="smart-form form-horizontal ng-pristine ng-valid">
                    <fieldset >
                        <section class="input-item">
                            <label class="col-md-3 col-xs-6 input-label">申请会员赠送优惠</label>
                            <div class="col-md-4 col-xs-6">
                                <input class="form-control"  type="text" ng-model="discount.offer">
                            </div>
                            <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                                为0时加入会员不赠送优惠</b></label>
                        </section>
                        <section class="input-item">
                            <label class="col-md-3 col-xs-4 input-label">优惠打码</label>
                            <div class="col-md-4 col-xs-8">
                                <input class="form-control"  type="text" ng-model="discount.add_mosaic">
                            </div>
                            <!--<label class="col-md-1">倍</label>-->
                        </section>
                        <section class="input-item">
                            <label class="col-md-3 col-xs-4 input-label">是否限制IP</label>
                            <div class="col-md-6 col-xs-4">
                                <div class="pull-left">
                                    <label>
                                        <input type="radio" value="1" name="is_ip" ng-model="discount.is_ip">
                                        是&nbsp;&nbsp;&nbsp;&nbsp;
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-4">
                                <div class="pull-left">
                                    <label>
                                        <input type="radio" value="2" name="is_ip" ng-model="discount.is_ip">
                                        否
                                    </label>
                                </div>
                            </div>
                        </section>
                        <section class="input-item">
                            <label class="col-md-3 col-xs-4 input-label">清除下级</label>
                            <div class="col-md-6 col-xs-4">
                                <div class="pull-left">
                                    <label>
                                        <input type="radio" value="1" name="is_clear" ng-model="discount.is_clear" checked>
                                        是&nbsp;&nbsp;&nbsp;&nbsp;
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-4">
                                <div class="pull-left">
                                    <label>
                                        <input type="radio" value="2" name="is_clear" ng-model="discount.is_clear">
                                        否
                                    </label>
                                </div>
                            </div>
                        </section>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{lang['Cancel']}}
                </button>
                <button type="button" class="btn btn-primary"  data-dismiss="modal" ng-click="discountSubmit()">
                    {{lang['Confirm']}}
                </button>
            </div>
        </div>
    </div>
</div>

