<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{getWord('returnDetail')}}</h2>
                    </header>
                    <div>
                        <div class="widget-body tab-content">
                            <div class="widget-body-toolbar">
                                <div class="row form-horizontal">
                                    <label class="col-md-1 control-label">返水:</label>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-control" ng-model="typeed">
                                                <b>
                                                    2015-10-02 09:12:21 ~ 2015-10-10 19:21:10</b>
                                            </label>
                                        </div>
                                    </div>
                                    <div  class="col-sm-1  col-xs-6">
                                        <div class="input-group pull-right">
                                            <button type="submit"  onclick="history.go(-1)" class="btn btn-primary">
                                                返回
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <form class="form-inline">
                                    <div class="table-scroll">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th>会员</th>
                                                <th>返水时间</th>
                                                <th colspan="2" style="text-align: center">小计</th>
                                                <th ng-repeat="item in arr track by $index">{{item}}</th>

                                            </tr>
                                            <tbody ng-repeat="item in list">
                                            <tr>
                                                <td rowspan="2">{{item.member}}</td>
                                                <td rowspan="2">{{item.time}}</td>
                                                <td>有效投注</td>
                                                <td>{{item.level1}}</td>
                                                <td ng-repeat="a in item.tuiyong track by $index">{{a}}</td>

                                            </tr>
                                            <tr style="background:#e1e9fb">
                                                <td>返水小计</td>
                                                <td>{{item.level2}}</td>
                                                <td ng-repeat="tuiyong in item.tuishui track by $index">{{tuiyong}}</td>
                                            </tr>
                                            </tbody>
                                            <tr>
                                                <td colspan="2" rowspan="2" style=" text-align: center">總計:{{toal[0].num}} 總次數:{{toal[0].geshu}}次</td>
                                                <td>有效投注</td>
                                                <td>{{toal[0].level1}}</td>
                                                <td ng-repeat="tuiyong in toal[0].Total track by $index">{{tuiyong}}</td>
                                            </tr>
                                            <tr>
                                                <td>返水小计</td>
                                                <td>{{toal[0].level2}}</td>
                                                <td ng-repeat="tuiyong_1 in toal[0].back track by $index">{{tuiyong_1}}</td>
                                            </tr>

                                        </table>
                                    </div>
                                    <tm-pagination conf="paginationConf"></tm-pagination>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

