<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{getWord('CommissionSetting')}}</h2>
                        <div class="widget-toolbar">
                            <button class="btn btn-xs btn-default" ng-class="{active: newTodo}" ng-click="toggleAdd()"><i ng-class="{ 'fa fa-plus': !newTodo, 'fa fa-times': newTodo}"></i>{{getWord('screening')}}</button>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body tab-content">
                            <div ng-show="newTodo">
                                <div class="widget-body-toolbar">
                                <div class="row form-horizontal">
                                    <label class="col-md-1 control-label allsite col-xs-4 reltop">站点</label>
                                    <div class="col-md-2 col-xs-12 allsite col-xs-8">
                                        <div class="form-group">
                                            <select data-smart-select2  class="selectWidth" ng-model="site_index_id">
                                                <option value="">请选择</option>
                                                <option value="{{itemSite.site_index_id}}" ng-repeat="itemSite in sharedJson">{{itemSite.site_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <label class="col-md-2 control-label col-xs-4 reltop" style="padding-top: 8px;">年月份选择</label>
                                    <div class="col-md-2 col-xs-8">
                                        <div class="form-group ">
                                            <select class="form-control" name="year" ng-model="yy">
                                                <option class="hidden"></option>
                                                <option value="">全部</option>
                                                <option value="{{year}}">{{year}}年</option>
                                                <option value="{{year-1}}">{{year-1}}年</option>
                                                <option value="{{year-2}}">{{year-2}}年</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-8 col-md-offset-0 col-xs-offset-4">
                                        <div class="form-group ">
                                            <select class="form-control" name="month" ng-model="mm">
                                                <option class="hidden"></option>
                                                <option value="">全部</option>
                                                <option ng-value="itemMonth.id" ng-repeat="itemMonth in json.option_month">{{itemMonth.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 col-xs-6 col-md-offset-2 col-xs-offset-6">
                                        <a href-void="" class="btn btn-primary" href="#" ng-click="search()">查询</a>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="table-responsive">
                                <form class="form-inline" method="post">
                                    <div class="table-scroll">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th class="text-align-center">编号</th>
                                                <th class="text-align-center">事件</th>
                                                <th class="text-align-center">返佣区间(起)</th>
                                                <th class="text-align-center">返佣区间(止)</th>
                                                <th class="text-align-center">人数/金额</th>
                                                <th class="text-align-center">创建日期</th>
                                                <th class="text-align-center">创建者</th>
                                                <th class="text-align-center">综合打码倍数</th>
                                                <th class="text-align-center">查询明细</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr  class="text-align-center" ng-repeat="item in list">
                                                    <td>{{item.id}}</td>
                                                    <td>{{item.event}}</td>
                                                    <td>{{item.start_time|formatDate}}</td>
                                                    <td>{{item.end_time|formatDate}}</td>
                                                    <td>{{item.people_num}}/{{item.money}}</td>
                                                    <td>{{item.create_time|formatDate}}</td>
                                                    <td>{{item.admin_user}}</td>
                                                    <td>{{item.bet}}</td>
                                                    <td style="color: red;" ng-click="detailed(item.id)">明细</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

