<!--系统升级公告-->
<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <article>
                <div jarvis-widget  data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{getWord('SystemAnnouncement')}} </h2>
                    </header>
                    <div>
                        <div class="widget-body tab-content">
                            <div class="widget-body-toolbar">
                                <div class="row">
                                    <div class="col-md-2 col-xs-8">
                                        <div class="input-group form-group">
                                            <input type="text" class="form-control" placeholder="请输入关键词" ng-model="key">
                                        </div>
                                    </div>
                                    <div class="col-md-2  col-xs-4">
                                        <div class="input-group">
                                            <a class="btn btn-default"  href-void ng-click="search()">{{lang['Search']}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <form class="form-inline" method="post">
                                    <div class="table-scroll">
                                        <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th class="text-align-center">标题</th>
                                            <th class="text-align-center">升级内容</th>
                                            <th class="text-align-center">添加日期</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in list">
                                            <td class="text-align-center">{{item.title}}</td>
                                            <td class="text-align-center"><p>{{item.content}}</p></td>
                                            <td class="text-align-center">{{item.addTime|fiterTime}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    <tm-pagination conf="paginationConf"></tm-pagination>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

</div>

