<!-- 总代理管理 -->
<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div id="todo-widget" jarvis-widget data-widget-editbutton="false" data-widget-color="blue" >
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{getWord('A_3')}}</h2>
                        <div class="widget-toolbar">
                            <button class="btn btn-xs btn-default" ng-class="{active: newTodo}" ng-click="toggleAdd()"><i ng-class="{ 'fa fa-plus': !newTodo, 'fa fa-times': newTodo}"></i> {{getWord('screening')}}</button>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body tab-content">
                            <div ng-show="newTodo">
                            <!--头部筛选查找以及添加-->
                                <div class="widget-body-toolbar">
                                    <div class="row form-horizontal">
                                        <div class="row">
                                            <span >
                                            <label ng-if="isSuperAdmin" class="col-md-1 col-xs-4 input-label">{{getWord('site')}}</label>
                                            <div class="col-md-2 col-xs-8">
                                                <div class="form-group" ng-init="site_index_id=''">
                                                    <select ng-show="isSuperAdmin" data-smart-select2 class="selectWidth" name="status" ng-model="site_index_id" ng-change="sitId(site_index_id)"id="site" >
                                                        <option value="">{{getWord('whole')}}</option>
                                                        <option ng-value="item.site_index_id" ng-repeat="item in siteJson" >{{item.site_name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            </span>
                                            <span >
                                            <label ng-if="isSuperAdmin" class="col-md-1 col-xs-4 input-label">{{getWord('Shareholder')}}</label>
                                            <div class="col-md-2 col-xs-8">
                                                <div class="form-group" ng-init="idinfo=''">
                                                    <select ng-show="isSuperAdmin" data-smart-select2 class="selectWidth" ng-model="idinfo" id="seled_1">
                                                        <option value="">{{getWord('whole')}}</option>
                                                        <option ng-value="item.id" ng-repeat="item in sharedJson"  >{{item.username}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            </span>
                                            <label class="col-md-1 col-xs-4 input-label">{{getWord('On-line')}}</label>
                                            <div class="col-md-2 col-xs-8">
                                                <div class="form-group" ng-init="online=''">
                                                    <select class="form-control" ng-model="online">
                                                        <option value="">{{getWord('whole')}}</option>
                                                        <option ng-value="item.value" ng-repeat="item in json.option_online">{{item.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                                <label class="col-md-1 col-xs-4 input-label">{{getWord('Status')}}</label>
                                                <div class="col-md-2 col-xs-8">
                                                    <div class="form-group" ng-init="statusd=''">
                                                        <select class="form-control" ng-model="statusd">
                                                            <option value="">{{getWord('whole')}}</option>
                                                            <option ng-value="item.value" ng-repeat="item in json.option_status">{{item.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                        </div>


                                        <div class="row">
                                            <label class="col-md-1 col-xs-4 input-label">{{getWord('sort')}}</label>
                                            <div class="col-md-2 col-xs-8">
                                                <div class="form-group" ng-init="levels=''">
                                                    <select class="form-control" ng-model="levels">
                                                        <option value="">{{getWord('whole')}}</option>
                                                        <option ng-value="item.value" ng-repeat="item in json.option_sort_2" >{{item.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-md-offset-0 col-xs-8 col-xs-offset-4">
                                                <div class="form-group" ng-init="big=''">
                                                    <select class="form-control" ng-model="big">
                                                        <option value="">{{getWord('whole')}}</option>
                                                        <option ng-value="item.value" ng-repeat="item in json.option_sortBig" >{{item.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <label class="col-md-1 col-xs-4 input-label">{{getWord('Search')}}</label>
                                            <div class="col-md-2 col-xs-8" >
                                                <div class="form-group">
                                                    <input type="text" class="form-control inp_2" placeholder="{{getWord('Administrator account search')}}" ng-model="acounted">
                                                </div>
                                            </div>
                                            <label class="col-md-1 col-xs-4">
                                                <div class="form-group control-label smart-form"  ng-init="type=''">
                                                    <label class="checkbox no-paddtop">
                                                        <input type="checkbox"  id="test" name="checkbox-inline" checked="checked"><i></i>{{getWord('Fuzzy query')}}
                                                    </label>
                                                </div>
                                            </label>

                                            <div class="col-md-1 col-xs-4">
                                                <div class="input-group">
                                                    <a class="btn btn-default search" ng-click="search()" href-void>{{getWord('Search')}}</a>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-xs-4">
                                                <div class="input-group pull-right col-sm-offset-1">
                                                    <button type="submit"  data-toggle="modal" data-target="#myModal1"  class="btn btn-primary" ng-click="add()">
                                                        <i class="fa fa-plus"></i> {{getWord('AddMore')}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <form class="form-inline" method="post">
                                <div class="table-scroll">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <!--<th><input type="checkbox" name="items" ></th>-->
                                            <th class="text-center">状态</th>
                                            <th class="text-center">{{getWord('General agent name')}}</th>
                                            <th class="text-center">{{getWord('General agent account number')}}</th>
                                            <th class="text-center">{{getWord('Login account')}}</th>
                                            <th class="text-center">{{getWord('Membership')}}</th>
                                            <th class="text-center">{{getWord('Shareholder')}}</th>
                                            <th class="text-center">代理人数</th>
                                            <th class="text-center">{{getWord('New date')}}</th>
                                            <th class="text-center">{{getWord('status')}}</th>
                                            <th class="text-center">{{getWord('function')}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="text-center" ng-repeat="item in list">
                                            <td>{{item.is_login|fiterStatuseds}}</td>
                                            <td>{{item.username}}</td>
                                            <td><a ng-click="General(item.agency_id)">{{item.account}}({{item.site_index_id}})</a></td>
                                            <td>{{item.account}}</td>
                                            <td>{{item.member_count}}</td>
                                            <td>{{item.first_account}}</td>
                                            <td>{{item.third_count}}</td>
                                            <td>{{item.create_time|formatDate}}</td>
                                            <td>{{item.status|fiterStatused}}</td>
                                            <td>
                                                <button class="btn btn-default btn-xs" ng-click="disable(item.agency_id)" ng-show="item.status==2">{{getWord('Enables')}}</button>
                                                <button class="btn btn-default btn-xs" ng-click="disable(item.agency_id)"ng-show="item.status==1">{{getWord('Disable')}}</button>
                                                <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal2"ng-click="Modify(item.agency_id)" >{{getWord('Modify')}}</button>
                                                <!--<button class="btn btn-default" ng-click="disable()">{{getWord('Set up')}}</button>-->
                                                <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal3" ng-click="Discount(item.agency_id,item.site_index_id)" >{{getWord('Discount')}}</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <tm-pagination conf="paginationConf"></tm-pagination>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <span style="display: none" class="zz">{{getWord('accounts')}}</span>
    <!--添加-->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="addAccount" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="addAccount">{{getWord('Add Account')}}</h4>
                </div>
                <div class="modal-body">
                    <form  enctype="multipart/form-data" class="smart-form client-form ng-pristine ng-valid" novalidate="novalidate" method = 'POST' >
                        <fieldset>
                            <section class="input-item">
                                <div class="col-md-3 col-xs-4 input-label"  ng-if="isSuperAdmin">{{getWord('Subordinate site')}}</div>
                                <label class="col-md-7 col-xs-8 input" ng-init="formData.site_index_id=''">
                                    <select  ng-show="isSuperAdmin" data-smart-select2 class="selectWidth" ng-model="formData.site_index_id" name="siteId" ng-change="parent(formData.site_index_id)" id="sitindex">
                                        <option value="">请选择</option>
                                        <option ng-value="item.site_index_id" ng-repeat="item in siteJson_1" >{{item.site_name}}</option>
                                    </select>
                                </label>
                            </section>
                            <section class="input-item" >
                                <div ng-if="isSuperAdmin" class="col-md-3 col-xs-4 input-label">{{getWord('Subordinate')}}</div>
                                <label class="col-md-7 col-xs-8 input" ng-init="formData.parent_id=''">
                                    <select ng-show="isSuperAdmin" data-smart-select2 class="selectWidth" ng-model="formData.parent_id" id="parent">
                                        <option value="">请选择</option>
                                        <option ng-value="item.id" ng-repeat="item in sharedJson_1" >{{item.username}}</option>
                                    </select>
                                </label>
                            </section>
                            <section class="input-item">
                                <label class="col-md-3 col-xs-4 input-label">{{getWord('accounts')}}</label>
                                <label class="col-md-7 col-xs-8 input">
                                    <i class="icon-append fa fa-question-circle"></i>
                                    <input class="form-control" placeholder="{{getWord('accounts')}}" type="text" ng-model="formData.account" name="account">
                                    <b class="tooltip tooltip-top-right">
                                        <i class="fa fa-warning txt-color-teal"></i>
                                        {{getWord('digitalLetter')}}</b>
                                </label>
                            </section>
                            <section class="input-item">
                                <label class="col-md-3 col-xs-4 input-label">{{getWord('Password')}}</label>
                                <label class="col-md-7 col-xs-8 input"><i class="icon-append fa fa-question-circle"></i>
                                    <input class="form-control"  type="password" ng-model="formData.password" name="password" placeholder="">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-warning txt-color-teal"></i>
                                        {{getWord('accountLength')}}</b>
                                </label>
                            </section>
                            <section class="input-item">
                                <label class="col-md-3 col-xs-4 input-label">{{getWord('Confirm password')}}</label>
                                <label class="col-md-7 col-xs-8 input"><i class="icon-append fa fa-question-circle"></i>
                                    <input class="form-control"  type="password" ng-model="formData.confirm_password" name="confirmPassword" placeholder="">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-warning txt-color-teal"></i>
                                        {{getWord('accountLength')}}</b>
                                </label>
                            </section>
                            <section class="input-item">
                                <label class="col-md-3 col-xs-4 input-label">{{getWord('General agent name')}}</label>
                                <label class="col-md-7 col-xs-8 input"><i class="icon-append fa fa-question-circle"></i>
                                    <input class="form-control"  type="text"  ng-model="formData.user_name" name="userName" placeholder="请输入代理名称">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-warning txt-color-teal"></i>
                                        {{getWord('agentDigitalLetter')}}</b>
                                </label>
                            </section>
                            <section class="input-item">
                                <label class="col-md-3 col-xs-4 input-label">{{getWord('Status')}}</label>
                                <label class="col-md-2 col-xs-4 input-label text-left" style="padding-top: 5px;">
                                    <label class="radio">
                                        <input type="radio" ng-value="1" name="aa" ng-model="formData.status">
                                        <i></i>{{getWord('Enables')}}
                                    </label>
                                </label>

                                <label class="col-md-2 col-xs-4 input-label text-left" style="padding-top: 5px;">
                                    <label class="radio">
                                        <input type="radio" ng-value="0" name="aa" ng-model="formData.status">
                                        <i></i>{{getWord('Disable')}}
                                    </label>
                                </label>
                            </section>
                            <div class="col-md-4">
                                <input class="form-control"  type="hidden" name="roleId"  hidden="hidden" value="5" ng-model="formData.roleId">
                            </div>
                            <div class="col-md-4">
                                <input class="form-control"  type="hidden"  disabled="disabled" value="0" name="parentId" ng-model="formData.parentId">
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {{getWord('Cancel')}}
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="submited()">
                        {{getWord('Confirm')}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--编辑-->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel1">{{getWord('Modify the general agent account')}}</h4>

                </div>
                <div class="modal-body">
                    <form class="smart-form form-horizontal ng-pristine ng-valid">
                        <fieldset class="general">
                            <div class="form-group no-padding">
                                <label class="col-md-3 col-xs-4 input-label">{{getWord('General agent account number')}}</label>
                                <div class="col-md-6 col-xs-8 input">
                                    <input disabled="disabled" class="form-control control-label" ng-model="modifys.account">
                                </div>
                            </div>
                            <div class="form-group no-padding">
                                <label class="col-md-3 col-xs-4 input-label">{{getWord('Password')}}</label>
                                <div class="col-md-6 col-xs-8 input"><i class="icon-append fa fa-question-circle"></i>
                                    <input class="form-control" placeholder="请输入密码" type="text" ng-model="modifys.password">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-warning txt-color-teal"></i>
                                        {{getWord('accountLength')}}</b>
                                </div>
                            </div>
                            <div class="form-group no-padding">
                                <label class="col-md-3 col-xs-4 input-label">{{getWord('Confirm password')}}</label>
                                <div class="col-md-6 col-xs-8 input"><i class="icon-append fa fa-question-circle"></i>
                                    <input class="form-control" placeholder="请输入确认密码" type="text" ng-model="modifys.confirm_password">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-warning txt-color-teal"></i>
                                        {{getWord('accountLength')}}</b>
                                </div>
                            </div>
                            <div class="form-group no-padding">
                                <label class="col-md-3 col-xs-4 input-label">{{getWord('General agent name')}}</label>
                                <div class="col-md-6 col-xs-8 input">
                                    <input class="form-control" type="text"ng-model="modifys.username" >
                                    <b class="tooltip tooltip-top-right">
                                        {{getWord('agentDigitalLetter')}}</b>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {{getWord('Cancel')}}
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="modifyssubmit()">
                        {{getWord('Confirm')}}
                    </button>
                </div>
            </div>
        </div>
    </div>

     <!--优惠-->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">{{getWord('Member registration privilege setting')}}</h4>

                </div>
                <div class="modal-body">
                    <form class="smart-form form-horizontal ng-pristine ng-valid">
                        <fieldset class="general no-padding">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-6 input-label">{{getWord('Apply for membership registration privilege')}}</label>
                                <div class="col-md-6 col-xs-6 input "><i class="icon-append fa fa-question-circle"></i>
                                    <input class="form-control"  type="text" ng-model="modifyData.offer">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-warning txt-color-teal"></i>
                                        {{getWord('')}}为0时加入会员不赠送优惠</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-6 input-label">{{getWord('Discount code')}}</label>
                                <div class="col-md-6 col-xs-6 input "><i class="icon-append fa fa-question-circle"></i>
                                    <input class="form-control"  type="text" ng-model="modifyData.add_mosaic">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-warning txt-color-teal"></i>
                                        {{getWord('times')}}</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-6 input-label">{{getWord('Limit IP')}}</label>
                                <div class="col-md-3 col-xs-3 control-label">
                                    <div class="pull-left">
                                        <label class="radio no-paddtop">
                                            <input type="radio" value="1" name="isModify" ng-model="modifyData.is_ip">
                                            <i></i>{{getWord('yes')}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-3 control-label">
                                    <div class="pull-left">
                                        <label class="radio no-paddtop">
                                            <input type="radio" value="2" name="isModify" ng-model="modifyData.is_ip">
                                            <i></i>{{getWord('No')}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control"  type="hidden" ng-model="Id">
                            </div>
                            <div class="col-md-4">
                                <input class="form-control"  type="hidden" ng-model="ids ">
                            </div>
                            <div class="col-md-4">
                                <input class="form-control"  type="hidden" ng-model="sitid ">
                            </div>

                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {{getWord('Cancel')}}
                    </button>
                    <button type="button" class="btn btn-primary"  data-dismiss="modal"ng-click="DiscountSubmit()">
                        {{getWord('Confirm')}}
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>