<!-- 查看分组 -->
<div id="content">
    <section id="widget-grid" widget-grid>
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget id="wid-id-0" data-widget-color="darken" data-widget-editbutton="false"
                     data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-check"></i> </span>
                        <h2>{{getWord('Create schedule')}} </h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="row">
                                <form novalidate="novalidate form-horizontal" data-smart-validate-form>
                                    <div class="col-sm-12" data-smart-wizard data-smart-wizard-callback="wizard1CompleteCallback">
                                        <div class="form-bootstrapWizard clearfix">
                                            <ul class="spul">
                                                <li data-smart-wizard-tab="1" class="powerinfo">
                                                    <button class="btn btn-primary">{{getWord('Basic information')}}</button>
                                                </li>
                                                <li data-smart-wizard-tab="2" class="powerinfo">
                                                    <button class="btn btn-primary">{{getWord('Power')}}</button>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div class="tab-pane" data-smart-wizard-pane="1" >
                                                <br>
                                                <h2>
                                                    <strong>{{getWord('Packet information')}}</strong>
                                                </h2>
                                                <div class="row col col-md-12 seeP" style="margin: 20px;">
                                                    <div class="col col-md-4 seeP">
                                                        <label class="control-label">{{getWord('GroupName')}}:</label>
                                                        <span>
                                                            经销商
                                                        </span>
                                                    </div>
                                                    <div class="col col-md-4 seeP">
                                                        <label class="control-label">{{getWord('Status')}}:</label>
                                                        <span>
                                                            启用
                                                        </span>
                                                    </div>
                                                    <div class="col col-md-4 seeP">
                                                        <label class="control-label">{{getWord('Total administrator')}}:</label>
                                                        <span>
                                                            5
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row col col-md-12 seeP" style="margin: 20px;">
                                                    <label class="control-label">{{getWord('Remarks')}}:</label>
                                                    <span>
                                                       肥牛饭健康歌讲课费格机
                                                    </span>
                                                </div>
                                                <br>
                                                <h4><strong>{{getWord('Member list')}}</strong></h4>
                                                <br>
                                                <table class="table table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th>{{getWord('accounts')}}</th>
                                                        <th>{{getWord('Grounping')}}</th>
                                                        <th>{{getWord('Remarks')}}</th>
                                                        <th>{{getWord('Operating time')}}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>646846123158</td>
                                                        <td>经销商</td>
                                                        <td>尔特记忆哦呵诶</td>
                                                        <td>2017-10-07</td>
                                                    </tr>
                                                    <tr>
                                                        <td>646846123158</td>
                                                        <td>经销商</td>
                                                        <td>尔特记忆哦呵诶</td>
                                                        <td>2017-10-07</td>
                                                    </tr>
                                                    <tr>
                                                        <td>646846123158</td>
                                                        <td>经销商</td>
                                                        <td>尔特记忆哦呵诶</td>
                                                        <td>2017-10-07</td>
                                                    </tr>
                                                    <tr>
                                                        <td>646846123158</td>
                                                        <td>经销商</td>
                                                        <td>尔特记忆哦呵诶</td>
                                                        <td>2017-10-07</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <nav>
                                                    <ul class="pagination">
                                                        <li>
                                                            <a ng-click="seePower.Previous()">
                                                                <span>{{getWord('PreviousPage')}}</span>
                                                            </a>
                                                        </li>
                                                        <li ng-repeat="page in seePower.pageList" ng-class="{active: seePower.isActivePage(page)}" >
                                                            <a ng-click="seePower.selectPage(page)" >{{ page }}</a>
                                                        </li>
                                                        <li>
                                                            <a ng-click="seePower.Next()">
                                                                <span>{{getWord('NextPage')}}</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                            <div class="tab-pane" data-smart-wizard-pane="2" >
                                                <br>
                                                <h2><strong>{{getWord('Permission view')}}</strong></h2>
                                                <div class="form-group">
                                                    <div class="table-scroll">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                            <tr>
                                                                <th>{{getWord('Functional module')}}</th>
                                                                <th>{{getWord('Function selection')}}</th>
                                                                <th>{{getWord('Module enabled')}}</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>会员管理</td>
                                                                <td>
                                                                    <label><input name="vip" type="checkbox" value="" />会员注册设定 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />停用会员帐号 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />下线会员帐号 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />查看帐号信息 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />查看会员订单 </label>
                                                                </td>
                                                                <td>
                                                                    <span class="onoffswitch col-xs-8 col-md-6">
                                                                        <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st1">
                                                                        <label class="onoffswitch-label" for="st1">
                                                                            <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                                            <span class="onoffswitch-switch"></span>
                                                                        </label>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>管理员管理</td>
                                                                <td>
                                                                    <label><input name="admin" type="checkbox" value="" />添加帐号 </label>
                                                                    <label><input name="admin" type="checkbox" value="" />修改帐号 </label>
                                                                    <label><input name="admin" type="checkbox" value="" />查看帐号 </label>
                                                                    <label><input name="admin" type="checkbox" value="" />删除帐号 </label>
                                                                    <label><input name="admin" type="checkbox" value="" />禁用帐号 </label>
                                                                    <label><input name="admin" type="checkbox" value="" />创建分组 </label>
                                                                    <label><input name="admin" type="checkbox" value="" />修改分组 </label>
                                                                    <label><input name="admin" type="checkbox" value="" />删除分组 </label>
                                                                </td>
                                                                <td>
                                                                    <span class="onoffswitch col-xs-8 col-md-6">
                                                                        <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st2">
                                                                        <label class="onoffswitch-label" for="st2">
                                                                            <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                                            <span class="onoffswitch-switch"></span>
                                                                        </label>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>站点管理</td>
                                                                <td>
                                                                    <label><input name="vip" type="checkbox" value="" />创建站点 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />查看站点 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />修改站点 </label>
                                                                </td>
                                                                <td>
                                                                    <span class="onoffswitch col-xs-8 col-md-6">
                                                                        <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st3">
                                                                        <label class="onoffswitch-label" for="st3">
                                                                            <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                                            <span class="onoffswitch-switch"></span>
                                                                        </label>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>资金管理</td>
                                                                <td>
                                                                    <label><input name="vip" type="checkbox" value="" />查看操作记录 </label>
                                                                </td>
                                                                <td>
                                                                    <span class="onoffswitch col-xs-8 col-md-6">
                                                                        <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st4">
                                                                        <label class="onoffswitch-label" for="st4">
                                                                            <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                                            <span class="onoffswitch-switch"></span>
                                                                        </label>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>订单管理</td>
                                                                <td>

                                                                </td>
                                                                <td>
                                                                    <span class="onoffswitch col-xs-8 col-md-6">
                                                                        <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st5">
                                                                        <label class="onoffswitch-label" for="st5">
                                                                            <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                                            <span class="onoffswitch-switch"></span>
                                                                        </label>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>结算管理</td>
                                                                <td>
                                                                    <label><input name="vip" type="checkbox" value="" />结算管理 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />批量结算 </label>
                                                                </td>
                                                                <td>
                                                                    <span class="onoffswitch col-xs-8 col-md-6">
                                                                        <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st7">
                                                                        <label class="onoffswitch-label" for="st7">
                                                                            <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                                            <span class="onoffswitch-switch"></span>
                                                                        </label>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>经销商管理</td>
                                                                <td>
                                                                    <label><input name="vip" type="checkbox" value="" />添加经销商 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />禁用经销商 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />修改经销商 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />删除经销商 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />查看经销商 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />注册设定查看 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />查看会员 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />查看订单 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />查看分销商 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />经销商分组管理 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />分成分组 </label>
                                                                </td>
                                                                <td>
                                                                    <span class="onoffswitch col-xs-8 col-md-6">
                                                                        <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st8">
                                                                        <label class="onoffswitch-label" for="st8">
                                                                            <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                                            <span class="onoffswitch-switch"></span>
                                                                        </label>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>分销商管理</td>
                                                                <td>
                                                                    <label><input name="vip" type="checkbox" value="" />添加分销商 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />禁用分销商 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />修改分销商 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />删除分销商 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />查看分销商 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />分销商注册设定 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />查看会员 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />查看订单 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />查看分销商 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />经销商分组管理 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />分成分组 </label>
                                                                </td>
                                                                <td>
                                                                    <span class="onoffswitch col-xs-8 col-md-6">
                                                                        <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st9">
                                                                        <label class="onoffswitch-label" for="st9">
                                                                            <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                                            <span class="onoffswitch-switch"></span>
                                                                        </label>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>公告管理</td>
                                                                <td>
                                                                    <label><input name="vip" type="checkbox" value="" />新建公告 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />编辑公告 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />删除公告 </label>
                                                                </td>
                                                                <td>
                                                                    <span class="onoffswitch col-xs-8 col-md-6">
                                                                        <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st0">
                                                                        <label class="onoffswitch-label" for="st0">
                                                                            <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                                            <span class="onoffswitch-switch"></span>
                                                                        </label>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>子帐号</td>
                                                                <td>
                                                                    <label><input name="vip" type="checkbox" value="" />添加帐号 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />修改帐号 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />查看帐号 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />删除帐号 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />禁用帐号 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />创建分组 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />修改分组 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />删除分组 </label>
                                                                </td>
                                                                <td>
                                                                    <span class="onoffswitch col-xs-8 col-md-6">
                                                                        <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st11">
                                                                        <label class="onoffswitch-label" for="st11">
                                                                            <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                                            <span class="onoffswitch-switch"></span>
                                                                        </label>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>商品管理</td>
                                                                <td>
                                                                    <label><input name="vip" type="checkbox" value="" />发布商品 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />上架商品 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />编辑商品 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />下架商品 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />查看商品信息 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />添加商品分组 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />删除商品分组 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />编辑商品分组 </label>
                                                                </td>
                                                                <td>
                                                                    <span class="onoffswitch col-xs-8 col-md-6">
                                                                        <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st12">
                                                                        <label class="onoffswitch-label" for="st12">
                                                                            <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                                            <span class="onoffswitch-switch"></span>
                                                                        </label>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>支付接口管理</td>
                                                                <td>
                                                                    <label><input name="vip" type="checkbox" value="" />添加接口 </label>
                                                                </td>
                                                                <td>
                                                                    <span class="onoffswitch col-xs-8 col-md-6">
                                                                        <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st13">
                                                                        <label class="onoffswitch-label" for="st13">
                                                                            <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                                            <span class="onoffswitch-switch"></span>
                                                                        </label>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>报表</td>
                                                                <td>
                                                                    <label><input name="vip" type="checkbox" value="" />查看报表详情 </label>
                                                                </td>
                                                                <td>
                                                                    <span class="onoffswitch col-xs-8 col-md-6">
                                                                        <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st14">
                                                                        <label class="onoffswitch-label" for="st14">
                                                                            <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                                            <span class="onoffswitch-switch"></span>
                                                                        </label>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>保证金管理</td>
                                                                <td>
                                                                    <label><input name="vip" type="checkbox" value="" />新建帐号 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />查看帐号 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />操作（通过/驳回） </label>
                                                                </td>
                                                                <td>
                                                                    <span class="onoffswitch col-xs-8 col-md-6">
                                                                        <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st15">
                                                                        <label class="onoffswitch-label" for="st15">
                                                                            <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                                            <span class="onoffswitch-switch"></span>
                                                                        </label>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>返佣管理</td>
                                                                <td>
                                                                    <label><input name="vip" type="checkbox" value="" />返佣设置 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />查看返佣 </label>
                                                                </td>
                                                                <td>
                                                                    <span class="onoffswitch col-xs-8 col-md-6">
                                                                        <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st16">
                                                                        <label class="onoffswitch-label" for="st16">
                                                                            <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                                            <span class="onoffswitch-switch"></span>
                                                                        </label>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>返点设置</td>
                                                                <td>
                                                                    <label><input name="vip" type="checkbox" value="" />返佣设置 </label>
                                                                    <label><input name="vip" type="checkbox" value="" />查看返佣 </label>
                                                                </td>
                                                                <td>
                                                                    <span class="onoffswitch col-xs-8 col-md-6">
                                                                        <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st17">
                                                                        <label class="onoffswitch-label" for="st17">
                                                                            <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                                            <span class="onoffswitch-switch"></span>
                                                                        </label>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
