<div id="content">
    <div jarvis-widget data-widget-color="blue" id="wid-id-0" data-widget-colorbutton="false"
         data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false"
         data-widget-sortable="false">
        <!-- widget options:
        usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
        <header>
            <span class="widget-icon"> <i class="fa fa-pencil"></i> </span>

            <h2>添加模板</h2>

        </header>
        <!-- widget div-->
        <div>


            <!-- widget content -->
            <div class="widget-body tab-content">
                <div class="widget-body-toolbar">
                    <div class="form-horizontal">
                        <div class="row">
                            <label class="col-md-1 input-label">标题</label>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input class="form-control"  type="text" ng-model="title">
                                </div>
                            </div>
                            <lable class=" col-md-1 input-label" style="color: red">【必填】</lable>
                            <label class="col-md-1 input-label">类型</label>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <select class="form-control" ng-model="typeId" ng-init="typeId">
                                        <option value="{{item.id}}" ng-repeat="item in registerJson">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="summernote" data-smart-summernote-editor data-height="480">

                </div>

                <div class="widget-footer smart-form">

                    <div class="btn-group">

                        <button class="btn btn-sm btn-primary" type="button">
                            <i class="fa fa-times"></i> 取消
                        </button>

                    </div>
                    <div class="btn-group">

                        <button class="btn btn-sm btn-success" type="button" ng-click="submit()">
                            <i class="fa fa-check"></i> 保存
                        </button>

                    </div>

                    <label class="checkbox pull-left">
                        <input type="checkbox" checked="checked" name="autosave" id="autosave">
                        <i></i>自动保存
                    </label>
                </div>

            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
    <!-- end widget -->
</div>
